.container{
  margin: auto 7vw;
  padding: 75px;
  padding-top: 70px !important;
  position: relative;
  display: grid;
  grid-template-areas: 
  "dataSet columns"
  "tableQuarry columns"
  "button ."
  "resoult resoult";
  grid-column-gap: 2vw;
  grid-row-gap: 1vh;
}

.dataset{
  grid-area: dataSet;
}

.table{
  grid-area: tableQuarry;
}

.colums{
  grid-area: columns;
}

.test{
  grid-area: button;
}

.Resoult{
  grid-area: resoult;
}

.colums input{
  height: 100%;
}

input.no-margin{
  margin: 0 !important;
}

input{
  width: 100%;
  height: 5vh;
  border-radius: 17px;
  border: none;
  background-color: #F3F3F3;
  color: black;
  padding-left: 10px;
  
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  width: 50%;
  border-radius: 17px;
}

button:hover {
  background-color: #0056b3;
}

textarea {
  width: 100%;
  height: 200px;
  border-radius: 17px;
  border: none;
  background-color: #F3F3F3;
  color: black;
  padding-left: 10px;
  padding-top: 10px;
}