/*----------------------------------------------------------------------------------- Beans logo --------*/
#beans-logo {
	display: inline-block;
	font-weight: 900 !important;
}

#beans-logo img {
    width: 88px;
    margin-right: 8px;
    border-radius: 5%;
    box-shadow: unset !important;
}

#beans-logo .brand-text {
	padding-right: 4px;
    vertical-align: sub;
}

#beans-brand-subtitle {
	font-size: x-small;
}


.main-header2 {
    left: 0;
    position: fixed;
    right: 0;
    top: 55px;
}

.mainmenu-administration {
	color: red;
}

.beans-content-header {
	padding-top: 5px;
	padding-left: 20px;
}

@media (min-width: 768px) {
    body:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav) .content-wrapper, body:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav) .main-footer, body:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav) .main-header {
/*         transition: margin-left .3s ease-in-out; */
        margin-left: 0px !important;
    }
}



/*----------------------------------------------------------------------------------- Search --------*/
.beans-quick-search-btn {
	border: 1px solid #dddddd;
    border-radius: 0.45rem;
    background-color: #f8f9fa;
    margin-left: 8px;
    margin-right: 8px;
}

.beans-quick-search-panel {
/* 	width: inherit; */
	width: 100%;
/* 	font-size: x-small; */
	border: 3px dashed #dddddd;
    border-radius: 0.45rem;
    padding: 4px;
/*     background-color: #c0bfbc; */
}

.beans-link-inactive {
	color: inherit;
}

.small-box-footer {
	cursor: pointer;
}

.main-footer {
	font-size: small;
}

.card {
    border: 1px solid rgba(0,0,0,.225);
    border-radius: 0.45rem;
}

.beans-card-tools-60 {
	width: 60%;
}

.beans-card-tools-50 {
	width: 50%;
}

.sidebar .nav-item .active {
	background-color: #007bff !important;
	color: white !important;
}

.sidebar .beans-content-menu i, .sidebar .beans-submenu-header {	
	color: #4fae3fd9;
}

.sidebar .beans-sidebar-administration i, .sidebar li.beans-sidebar-administration-header {
	color: #e44949;
}

.beans-notifications-refresh {
	cursor: pointer;
}

.notebook-entry {
	border: 1px solid #f4f6f9;
	margin-bottom: 10px;
	padding: 5px;
}

.notebook-title {
	display: inline;
	margin-right: 8px;
}

.notebook-entry:HOVER {
	border: 1px dotted #212529;
}

.notebook-entry .btn {
	min-width: 40px !important;
}

[class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link {
	padding-left: 40px;
}

.beans-dataset-id, .beans-table-id {
	font-size: small !important;
}

.notebook-rearrange {
	padding-top: 20px;
}

.notebook-rearrange li {
	list-style: none;
}

.awk-panel textarea {
	min-height: 300px;
}

.beans-btn-group {
	margin-left: 10px;
	cursor: pointer;
}

.beans-btn-group .button-hr {
	display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 4px 0;
    padding: 0;
}

.beans-btn-group i {
	min-width: 20px;
    text-align: center;
}

.beans-table-settings .beans-col-1 div {
	max-width: 250px;
/* 	display: block; */
}

.notebook-entry .badge {
/* 	margin-right: 10px; */
}

.notebook-entry .status .error {
	color: red;
}

.content-wrapper {
    background-color: white !important;
    margin-top: 80px;
}

/*----------------------------------------------------------------------------------- Table component --------*/
@media (max-width: 991.98px) {
	.beans-table-normal td, .beans-table-normal th {
		display: block;
	}
}

.beans-highlight {
	background-color: aqua;
}

.beans-new-entry-table td {
	border: white;
	padding: 0px;
}

/*----------------------------------------------------------------------------------- Combobox component --------*/
.dataset-table-selector .input-tables {
	margin-left: 30px;
}

/*----------------------------------------------------------------------------------- Combobox component --------*/
.pjf-combo {	
	margin: 5px;
	cursor: pointer;
}

.pjf-combo .selected {
	border: 1px dotted gray;
	padding: 5px;
}

.pjf-combo a {
	padding: 5px;
}

.beans-pig-mode {
	display: inline-block;
}

/*----------------------------------------------------------------------------------- Plugins --------*/
textarea.beans-gacs-query {
	min-height: 200px;
}

/*----------------------------------------------------------------------------------- D3 plots --------*/
div.chart {
	overflow: inherit;
	height: 480px;
}

div.chart svg.nvd3-svg {
	min-height: 400px;
    height: 89%;
}

div.chart .chart-title {
	text-align: center;
	font-weight: 900;
}

div.chart .chart-xlabel {
	text-align: center;
	font-weight: bolder;
}

div.chart .chart-ylabel {
	font-weight: bolder;
    padding-left: 100px;
}

.parallel-grid-data {
    max-height: 300px;
    overflow: auto;
    padding-top: 20px;
    padding-left: 20px;
}

.parallel-grid-data .cell {
    display: inline-block;
    margin-right: 5px;
    max-width: 170px;
    min-width: 70px;
    width: auto;
}

.parallel-grid-data .row {
	-webkit-flex-wrap: nowrap;
}

.parcoords text.label {
	font: 20px sans-serif !important;
}

.dygraph-legend-beans br {
	display: none;
}

/*----------------------------------------------------------------------------------- Pig Log panel --------*/
.log-panel textarea {
	min-height: 300px;
}

/*----------------------------------------------------------------------------------- Histogram plot --------*/
.plot-histogram .custom-control-label {
	margin-left: 10px;
	margin-top: 5px;
}

.plot-histogram .row.check {
	margin-top: 10px;
}

/*----------------------------------------------------------------------------------- Link --------*/
.beans-link {
/* 	cursor: pointer; */
/*     background-color: #efeeee; */
/*     padding: 2px 10px; */
/*     border-radius: .25rem; */
/*     margin-left: 5px; */
    cursor: pointer;
    background-color: #efeeee;
    padding: 1px 8px;
    border-radius: .25rem;
    margin: 3px 3px;
    word-break: break-word;
    display: inline-block;
}

.beans-link-selected {
	color: black;
}

.beans-link-selected:HOVER {
	color: black;
}

.page-link {
	cursor: pointer;
}

.beans-link.striked {
	text-decoration: line-through;
}

/*----------------------------------------------------------------------------------- Table data --------*/
.table-component .table-filter {
	width: 80%;
}

.table-data-view dl {
	margin-bottom: 0px;
}

.table-data-view .table-filter, .table-data-view .btn-group {
/* 	float: right; */
}

.beans-table-link-selected {
	background-color: #57a1f1;
	color: black;
}

.beans-table-link-selected:HOVER {
	color: white;
}

/*----------------------------------------------------------------------------------- Spinner label --------*/
.beans-spinner-label {
	margin: 20px;
}

.beans-spinner-label img {
	width: 20px; 
	height: 20px;
}

.beans-spinner-label span {
    vertical-align: middle;
}

.badge {
	white-space: normal;
	text-align: left;
}

/*----------------------------------------------------------------------------------- Tags --------*/
.notebook-tags {
	width: 100%;
	height: 100px;
	min-height: 100px;
}

.beans-tag {
   cursor: pointer;
    background-color: #62a0ea;
    padding: 1px 8px;
    border-radius: .25rem;
    margin: 1px 1px;
    word-break: break-word;
    display: inline-block;
    color: white;	
}

/*----------------------------------------------------------------------------------- Content title --------*/
.beans-content-title {
    font-size: x-large;
    margin-left: 10px;
}

@media (max-width: 991.98px) {
	.beans-content-title {
		font-size: medium;
	}
}

/*----------------------------------------------------------------------------------- Plugins --------*/
.selftest-progress {
	width: 100%;
	min-height: 600px;
}

/*----------------------------------------------------------------------------------- Gnuplot plugin --------*/
.beans-gnuplot-pdf {
	display: block;
	margin: 5px;
    min-height: 500px;
    min-width: 800px;
}

.beans-gnuplot-image {
	display: block;
	margin: 5px;
}

.beans-gnuplot-file {
	display: table;
	margin: 5px;
}

/*----------------------------------------------------------------------------------- Python plugin --------*/
.beans-plugin-python-view {
    margin-top: 5px;
}

.beans-plugin-python-output {
	font-style: italic;
}

.cm-s-beans-plugin-python {
	font-size: medium;
	background-color: #f8f9fa !important;
}

.cm-s-beans-plugin-python .CodeMirror-linenumbers {
	background-color: white;
}

/*----------------------------------------------------------------------------------- BEANS compact list --------*/
.beans-list input {
	padding: 8px;
	margin-left: 8px;
	margin-top: 8px;
	height: 37px;
}

.beans-list .page-item {
	margin-top: 8px;
}

.beans-list .pages li {
	list-style: none;
}

/*----------------------------------------------------------------------------------- BEANS explorer --------*/
.beans-explorer {
	
}

.beans-explorer .page-item {
	display: inline-block;
}

.beans-explorer .top {
/* 	margin: 6px 2px !important; */
	display: inline-block;
}

.beans-explorer .content {
	padding: 8px;
}

.beans-explorer .filter {
/*     padding-top: 6px; */
    margin-left: 10px;
/*     padding-right: 20px; */
/*     margin-right: 20px; */
    width: 50%;
/*     padding-bottom: 2px; */
}

.beans-explorer .row {
	padding-bottom: 4px;
}

.beans-explorer .beans-link.name {
    padding: 0px 8px;
    margin: 2px 20px 2px 0px;
	display: inline;
/* 	padding: 8px; */
/* 	margin: 16px !important; */
}

.beans-explorer .beans-link.name {
    margin: 2px 2px 2px 0px;
}

.beans-explorer .beans-link.link {
    margin: 2px 20px 2px 0px;
}

.beans-explorer .top .beans-link {
	padding: 2px 2px;
    margin: 2px ;
}

.beans-explorer .beans-link:HOVER {
	color: black;
}


.content-header {
	padding-top: 65px;
}


.strestests-buttons {
	padding-top: 10px;
}


.attachment-list .footer {
	margin: 16px;
}

.attachment-list img {
	max-width: 800px;
}

.attachment-list .pages li {
	display: inline-block;
}