/**
* Bootstrap-Admin-Template v2.1.3
* Author : [object Object] 
* Copyright 2014
* Licensed under ,, (,,)
*/
/*********************************************************/
/*                 Layout Styles                         */
/*********************************************************/
/*********************************************************/
/*                 Sticky footer styles                  */
/*********************************************************/
#wrap {
  margin: 0 auto;
}
/* Set the fixed height of the footer here */
#footer {
  height: 48px;
}
@media (min-width: 768px) {
  html,
  body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
  }
  #wrap {
    /* Wrapper for page content to push down footer */
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by its height */
    margin-bottom: -48px;
    /* Pad bottom by footer height */
    padding: 0 0 48px;
  }
}
/* -------- END Sticky footer styles ------------------ */
/*********************************************************/
/*                 Template Layout                       */
/*********************************************************/
body.padTop53 {
  padding-top: 95px;
  overflow: visible;
}
@media (min-width: 802px) {
  body.padTop53 {
    padding-top: 54px;
  }
}
#wrap:before,
#top:before,
.head:before,
#footer:before,
#wrap:after,
#top:after,
.head:after,
#footer:after {
  content: " ";
  display: table;
}
#wrap:after,
#top:after,
.head:after,
#footer:after {
  clear: both;
}
#wrap {
  background-color: white;
}
#right {
  display: none;
}
@media (min-width: 768px) {
  #left {
    width: 100px;
    position: relative;
    float: left;
  }
  .side-right #left {
    float: right;
  }
  #left #menu.affix {
    position: fixed;
    top: 0;
    width: 100px;
    overflow-x: hidden;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
  }
  #left #menu.affix:hover {
    overflow-y: scroll;
  }
  #left #menu.affix li > ul {
    position: relative;
    width: auto;
    left: auto;
    top: auto;
  }
  #left #menu.affix > li:last-child > a:last-child {
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.05), 0 1px 0 rgba(255, 255, 255, 0.05) inset;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  }
  body.padTop53 #left #menu.affix {
    top: 53px;
  }
  #content {
    overflow: hidden;
  }
  #left {
    margin-bottom: -10px;
  }
}
@media (min-width: 992px) {
  #left {
    width: 220px;
  }
  #left #menu.affix {
    width: 220px;
  }
  .mini-sidebar #left {
    width: 100px;
  }
  .mini-sidebar #left #menu.affix {
    width: 100px;
  }
}
@media (min-width: 768px) {
  .hide-sidebar #left,
  .hide-sidebar #right {
    display: none;
  }
}
@media (min-width: 1200px) {
  body.fixed #wrap,
  body.fixed #footer,
  body.fixed #top .navbar.navbar-fixed-top {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
  }
}
/* ================== END Template Layout ============== */
@media (min-width: 992px) {
  .three-columns #content,
  .three-columns #right {
    float: left;
  }
  .three-columns #right {
    display: block;
    padding: 10px;
  }
  .three-columns #left,
  .three-columns #right {
    width: 20%;
  }
  .three-columns #content {
    width: 60%;
    margin: 0 !important;
  }
}
@media (min-width: 1200px) {
  .three-columns #left,
  .three-columns #right {
    width: 15%;
  }
  .three-columns #content {
    width: 70%;
  }
  .three-columns .side-right #right {
    float: right;
    padding-top: 20px;
  }
  .three-columns .side-right #content {
    width: 85%;
  }
}
@media (min-width: 992px) {
  .three-columns #left,
  .three-columns #right {
    width: calc(220px);
  }
  .three-columns .mini-sidebar #right {
    display: none;
  }
  .three-columns #content {
    width: calc(100% - 440px);
  }
  .side-right .three-columns #content {
    width: calc(100% - 220px);
  }
  .mini-sidebar .three-columns #content {
    width: calc(100% - 100px);
  }
}
/* BEGIN TOP bar */
#top .navbar {
  margin-bottom: 0;
  border-top: 3px solid #CD0067;
}

#top .navbar .search-bar .btn-group {
	display: inline !important;
}
#top .navbar .search-bar #search-dropdown {
	padding: 10px;
	width: 520px;
}
#top .navbar-brand {
  padding: 0;
}
#top .topnav {
  margin: 10px 15px 10px auto;
}
@media (min-width: 768px) {
  #top .topnav {
    float: right;
  }
}
/* END TOP bar */
/* BEGIN header.head bar */
.head {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.05) inset;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
}
.head .search-bar {
  margin: 0 auto;
  padding: 10px 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.05);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.05);
}
.head .search-bar .main-search {
  margin-right: 40px;
  border-bottom: 1px solid #7c7c7c;
}
.head .search-bar .main-search input[type="text"] {
  background-color: transparent;
  border-color: transparent;
  color: #ccc;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.head .search-bar .main-search button,
.head .search-bar .main-search input[type=submit] {
  background: transparent;
  border: transparent;
}
@media (min-width: 768px) {
  .head .search-bar {
    border-bottom-width: 0;
    border-right: 1px solid rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: -1px 0px 0px rgba(255, 255, 255, 0.05) inset;
    box-shadow: -1px 0px 0px rgba(255, 255, 255, 0.05) inset;
  }
  .side-right .head .search-bar {
    border-right-width: 0;
    border-left: 1px solid rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 1px 0px 0px rgba(255, 255, 255, 0.05) inset;
    box-shadow: 1px 0px 0px rgba(255, 255, 255, 0.05) inset;
  }
}
.head .main-bar {
  padding: 10px;
}
.head .main-bar h3 {
  margin-top: 0;
  margin-bottom: 0;
/*   color: #bababa; */
}
@media (min-width: 768px) {
  .head .main-bar h3 {
    margin-top: 5px;
  }
}
@media (min-width: 768px) {
  .head .search-bar .main-search {
    margin-right: auto;
  }
}
#menu-toggle {
  float: right;
  margin-left: 15px;
}
@media (min-width: 768px) {
  .search-bar {
    width: 100px;
    float: left;
    padding: 10px 4px;
  }
  .side-right .search-bar {
    float: right;
  }
  .search-bar .input-group-btn {
    display: none;
  }
  .search-bar .input-small.form-control {
    border-radius: 3px;
  }
  .main-bar {
    margin-left: 100px;
  }
  .side-right .main-bar {
    margin-left: 0;
    margin-right: 100px;
  }
}
@media (min-width: 992px) {
  .search-bar {
    width: 520px;
    padding: 10px 15px;
  }
  .search-bar .input-group-btn {
    display: table-cell;
  }
  .search-bar .input-small.form-control {
    border-radius: 3px 0 0 3px;
  }
  .mini-sidebar .search-bar {
    width: 100px;
    padding: 10px 4px;
  }
  .mini-sidebar .search-bar .input-group-btn {
    display: none;
  }
  .mini-sidebar .search-bar .input-small.form-control {
    border-radius: 3px;
  }
  .main-bar {
    margin-left: 220px;
  }
  .side-right .main-bar {
    margin-right: 220px;
  }
  .mini-sidebar .main-bar {
    margin-left: 100px;
  }
  .side-right.mini-sidebar .main-bar {
    margin-left: 0;
  }
}
/** END header.head bar */
/*********************************************************/
/*          Begin LEFT Styles                           */
/*********************************************************/
.user-media {
  display: none;
  background-color: #444444;
}
@media (min-width: 768px) {
  .user-media {
    display: block;
  }
  .user-media .media-body {
    display: none;
  }
  .user-media .user-link {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }
  .user-media .user-link .user-img {
    margin: 10px auto;
  }
  .user-media .user-link .user-label {
    position: absolute;
    top: -6px;
    right: 6px;
  }
}
@media (min-width: 992px) {
  .user-media .user-link {
    float: left;
  }
  .user-media .user-link .user-img {
    margin: 10px;
  }
  .user-media .user-link .user-label {
    top: 6px;
    right: 0;
  }
  .user-media .media-body {
    display: block;
    float: left;
    margin-left: 12px;
  }
  .user-media .media-body h5.media-heading {
    color: #fff;
    padding-top: 8px;
    margin-bottom: 3px;
  }
  .user-media .media-body ul.user-info li {
    color: #ccc;
  }
}
@media (min-width: 768px) {
  .mini-sidebar .media-body {
    display: none;
  }
  .side-right .user-link .user-label {
    left: 6px;
    right: auto;
  }
}
/* ============== END LEFT Styles ================= */
#menu {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.05);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.05);
  background-color: #333;
  position: relative;
  overflow: hidden;
}
#menu,
#menu ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
#menu li {
  position: relative;
}
@media (min-width: 768px) {
  #menu.collapse {
    display: inherit !important;
    height: auto !important;
  }
}
#menu > li {
  display: block;
  margin: 0;
}
#menu > li > a {
  color: #ccc;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  display: block;
  position: relative;
  padding: 10px 15px;
}
#menu > li > a:hover,
#menu > li > a:focus {
  text-decoration: none;
  background-color: #404040;
  color: #fff;
  outline: none;
}
#menu > li > a .label {
  float: right;
}
#menu > li.active > a {
  background-color: #1a1a1a;
  color: #fff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3) inset;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3) inset;
}
#menu li > a {
  text-decoration: none;
}
#menu ul {
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.05) inset;
  box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.05) inset;
  padding: 5px 0px 5px 15px;
}
#menu ul a {
  padding: 2px 0;
  color: #ccc;
  display: block;
  font-size: 13px;
  margin-left: 15px;
  margin-right: 15px;
}
#menu .nav-header {
  padding: 3px 15px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  color: #777;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.05) inset;
  box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.05) inset;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
  background: #404040;
}
#menu .nav-divider {
  border-top: 1px solid rgba(255, 255, 255, 0.01);
  height: 6px;
  margin: 0;
  background: rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3) inset;
}
#menu > li.active > a {
  position: relative;
}
#menu > li.active ul > li.active > a:after {
  border-style: solid;
  position: absolute;
  right: 0px;
  border-color: transparent #6e6e6e transparent transparent;
  content: "";
  border-width: 10px;
}
.side-right #menu > li > a > .label {
  left: 3px;
  right: auto;
}
@media (min-width: 768px) {
  .mini-sidebar #menu > li > a,
  #menu > li > a {
    text-align: center;
  }
  .mini-sidebar #menu > li > a > i,
  #menu > li > a > i {
    display: block;
    font-size: 20px;
  }
  .mini-sidebar #menu > li > a .label,
  #menu > li > a .label {
    right: 3px;
    top: 3px;
    position: absolute;
  }
  .mini-sidebar.side-right #menu > li > a .label,
  .side-right #menu > li > a .label {
    right: auto;
  }
  #menu:after,
  .mini-sidebar #menu:after {
    display: block;
    -webkit-box-shadow: 97px 1px 5px 2px rgba(0, 0, 0, 0.6);
    box-shadow: 97px 1px 5px 2px rgba(0, 0, 0, 0.6);
    content: " ";
    position: absolute;
    left: 0px;
    top: 0;
    width: 0;
    bottom: 0;
    right: 0;
    background: #333;
  }
  .side-right #menu:after,
  .side-right.mini-sidebar #menu:after {
    -webkit-box-shadow: 3px 1px 5px 2px rgba(0, 0, 0, 0.6);
    box-shadow: 3px 1px 5px 2px rgba(0, 0, 0, 0.6);
  }
}
@media (min-width: 992px) {
  #menu {
    overflow: visible;
  }
  #menu > li > a {
    text-align: left;
  }
  #menu > li > a > i {
    display: inline;
    font-size: 14px;
  }
  #menu > li > a > .label {
    position: relative;
  }
  #menu:after {
    -webkit-box-shadow: 217px 1px 5px 2px rgba(0, 0, 0, 0.6);
    box-shadow: 217px 1px 5px 2px rgba(0, 0, 0, 0.6);
  }
  .mini-sidebar #menu:after {
    -webkit-box-shadow: 97px 1px 5px 2px rgba(0, 0, 0, 0.6);
    box-shadow: 97px 1px 5px 2px rgba(0, 0, 0, 0.6);
  }
}
#menu .fa.arrow {
  float: right;
  padding-top: 3px;
}
#menu .fa.arrow:before {
  content: "\f104";
}
#menu .active > a > .fa.arrow:before {
  content: "\f107";
}
@media (min-width: 768px) {
  #menu > li > a > .fa.arrow {
    display: none;
    visibility: hidden;
  }
  #menu li > ul {
    position: absolute;
    width: 200px;
    top: 0;
    left: 100%;
    z-index: 1000;
    background: #444;
    border-top-width: 0;
    padding: 0;
  }
  #menu > li ul > li {
    padding: 5px 10px;
  }
  .side-right #menu li > ul {
    left: auto;
    right: 100%;
  }
}
@media (min-width: 992px) {
  #menu > li > a > .fa.arrow {
    display: inherit;
    visibility: visible;
  }
  #menu li > ul {
    position: relative;
    width: auto;
    top: auto;
    left: auto;
    z-index: auto;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
  }
  .side-right #menu li > ul {
    left: 0;
    right: 0;
  }
  .mini-sidebar #menu > li > a > .fa.arrow {
    display: none;
    visibility: hidden;
  }
  .mini-sidebar #menu li > ul {
    position: absolute;
    width: 200px;
    top: 0;
    left: 100%;
    z-index: 1000;
    border-top-width: 0;
  }
  .mini-sidebar.side-right #menu li > ul {
    left: auto;
    right: 100%;
  }
}
/* BEGIN CONTENT STYLES */
#content {
  -webkit-transition: width 0.4s;
  transition: width 0.4s;
}
.outer {
  padding: 10px;
  background-color: white;
}
.outer:before,
.outer:after {
  content: " ";
  display: table;
}
.outer:after {
  clear: both;
}
.inner {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
  background: #fff;
  border: 10px solid #e4e4e4;
}
@media (min-width: 768px) {
  .inner {
    float: left;
    width: 100%;
  }
}
.inner .row {
  margin-left: -15px;
  margin-right: -15px;
}
/* END CONTENT STYLES */
/* BEGIN FOOTER */
#footer {
  background-image: url("../img/pattern/px_by_Gre3g.png");
  background-repeat: repeat;
  color: #f9f9f9;
  margin: 0 auto;
}
#footer p {
  padding: 12px 0 0;
  text-align: center;
}
/** END FOOTER */
/*********************************************************/
/*                 Component Styles                      */
/*********************************************************/
.box {
  margin: 10px auto;
  display: block;
  position: relative;
  border: 1px solid #efefef;
}
.box header {
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #f2f2f2 100%);
  background-image: linear-gradient(to bottom, #ffffff 0%, #f2f2f2 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0);
  border-bottom: 1px solid #d4d4d4;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
}
.box header:before,
.box header:after {
  content: " ";
  display: table;
}
.box header:after {
  clear: both;
}
.box header .icons,
.box header h5,
.box header .toolbar {
  position: relative;
  min-height: 1px;
  float: left;
  padding: 0;
  margin: 0;
  display: block;
}
.box header .icons {
  padding: 10px 15px;
  border-right: 1px solid #ddd;
  -webkit-box-shadow: 1px 0px 0px #ffffff;
  box-shadow: 1px 0px 0px #ffffff;
}
.box header h5 {
  padding: 12px;
  font-weight: bold;
}
.box.inverse header {
  background-image: -webkit-linear-gradient(top, #333333 0%, #222222 100%);
  background-image: linear-gradient(to bottom, #333333 0%, #222222 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff333333', endColorstr='#ff222222', GradientType=0);
  border-bottom: 1px solid #4d4d4d;
  color: #f5f5f5;
}
.box.inverse header .icons {
  border-right: 1px solid #222;
  -webkit-box-shadow: 1px 0px 0px #3c3c3c;
  box-shadow: 1px 0px 0px #3c3c3c;
}
.box.primary header {
  background-image: -webkit-linear-gradient(top, #428bca 0%, #3071a9 100%);
  background-image: linear-gradient(to bottom, #428bca 0%, #3071a9 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff428bca', endColorstr='#ff3071a9', GradientType=0);
  border-bottom: 1px solid #428bca;
  color: #fff;
}
.box.primary header .icons {
  border-right: 1px solid #245682;
  -webkit-box-shadow: 1px 0px 0px #6aa3d5;
  box-shadow: 1px 0px 0px #6aa3d5;
}
.box.success header {
  background-image: -webkit-linear-gradient(top, #5cb85c 0%, #449d44 100%);
  background-image: linear-gradient(to bottom, #5cb85c 0%, #449d44 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5cb85c', endColorstr='#ff449d44', GradientType=0);
  border-bottom: 1px solid #5cb85c;
  color: #fff;
}
.box.success header .icons {
  border-right: 1px solid #357935;
  -webkit-box-shadow: 1px 0px 0px #80c780;
  box-shadow: 1px 0px 0px #80c780;
}
.box.warning header {
  background-image: -webkit-linear-gradient(top, #f0ad4e 0%, #ec971f 100%);
  background-image: linear-gradient(to bottom, #f0ad4e 0%, #ec971f 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff0ad4e', endColorstr='#ffec971f', GradientType=0);
  border-bottom: 1px solid #f0ad4e;
  color: #fff;
}
.box.warning header .icons {
  border-right: 1px solid #c77c11;
  -webkit-box-shadow: 1px 0px 0px #f4c37d;
  box-shadow: 1px 0px 0px #f4c37d;
}
.box.danger header {
  background-image: -webkit-linear-gradient(top, #d9534f 0%, #c9302c 100%);
  background-image: linear-gradient(to bottom, #d9534f 0%, #c9302c 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9534f', endColorstr='#ffc9302c', GradientType=0);
  border-bottom: 1px solid #d9534f;
  color: #fff;
}
.box.danger header .icons {
  border-right: 1px solid #a02622;
  -webkit-box-shadow: 1px 0px 0px #e27c79;
  box-shadow: 1px 0px 0px #e27c79;
}
.box.info header {
  background-image: -webkit-linear-gradient(top, #5bc0de 0%, #31b0d5 100%);
  background-image: linear-gradient(to bottom, #5bc0de 0%, #31b0d5 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff31b0d5', GradientType=0);
  border-bottom: 1px solid #5bc0de;
  color: #fff;
}
.box.info header .icons {
  border-right: 1px solid #2390b0;
  -webkit-box-shadow: 1px 0px 0px #85d0e7;
  box-shadow: 1px 0px 0px #85d0e7;
}
.box header .toolbar {
  float: right;
  display: inline-table;
}
.box header .toolbar .btn-toolbar {
  margin: 6px 3px;
}
.box header .toolbar .label,
.box header .toolbar .badge {
  display: inline-block;
  margin: 10px;
}
.box header .toolbar .nav {
  margin: 1px 1px 0 0;
}
.box header .toolbar .nav > li {
  display: inline-block;
}
.box header .toolbar .nav > li > a {
  padding-top: 9px;
}
.box header .toolbar > .btn {
  margin-right: 4px;
}
.box header .toolbar > .btn-sm,
.box header .toolbar > .btn-group {
  margin: 4px;
}
.box header .toolbar > .btn-xs {
  margin: 6px;
}
.box header .toolbar .input-sm {
  margin: 4px -4px;
}
.box header .toolbar .progress {
  min-width: 120px;
  margin: 10px 4px;
}
.box header .toolbar .progress.middle {
  height: 12px;
  margin: 13px 4px;
}
.box header .toolbar .progress.mini {
  height: 6px;
  margin: 16px 4px;
}
.box.danger .dropdown-menu > li > a:hover,
.box.danger .dropdown-menu > li > a:focus {
  background-image: -webkit-linear-gradient(top, #d9534f 0%, #c9302c 100%);
  background-image: linear-gradient(to bottom, #d9534f 0%, #c9302c 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9534f', endColorstr='#ffc9302c', GradientType=0);
}
.box.info .dropdown-menu > li > a:hover,
.box.info .dropdown-menu > li > a:focus {
  background-image: -webkit-linear-gradient(top, #5bc0de 0%, #31b0d5 100%);
  background-image: linear-gradient(to bottom, #5bc0de 0%, #31b0d5 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff31b0d5', GradientType=0);
}
.box.success .dropdown-menu > li > a:hover,
.box.success .dropdown-menu > li > a:focus {
  background-image: -webkit-linear-gradient(top, #5cb85c 0%, #449d44 100%);
  background-image: linear-gradient(to bottom, #5cb85c 0%, #449d44 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5cb85c', endColorstr='#ff449d44', GradientType=0);
}
.box.warning .dropdown-menu > li > a:hover,
.box.warning .dropdown-menu > li > a:focus {
  background-image: -webkit-linear-gradient(top, #f0ad4e 0%, #ec971f 100%);
  background-image: linear-gradient(to bottom, #f0ad4e 0%, #ec971f 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff0ad4e', endColorstr='#ffec971f', GradientType=0);
}
.box.inverse .dropdown-menu > li > a:hover,
.box.inverse .dropdown-menu > li > a:focus {
  background-image: -webkit-linear-gradient(top, #333333 0%, #222222 100%);
  background-image: linear-gradient(to bottom, #333333 0%, #222222 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff333333', endColorstr='#ff222222', GradientType=0);
}
.box .body {
  padding: 10px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.box .body hr {
  margin-left: -10px;
  margin-right: -10px;
}
.body.collapse:not(.in) {
  padding: 0;
}
.box > .block {
  padding: 0;
}
.row.ui-sortable .box header {
  cursor: move;
}
.btn-metis-1 {
  color: #ffffff;
  background-color: #ee465a;
  border-color: #c11a39;
}
.btn-metis-1:hover,
.btn-metis-1:focus,
.btn-metis-1:active,
.btn-metis-1.active,
.open .dropdown-toggle.btn-metis-1 {
  color: #ffffff;
  background-color: #eb2139;
  border-color: #8b1329;
}
.btn-metis-1:active,
.btn-metis-1.active,
.open .dropdown-toggle.btn-metis-1 {
  background-image: none;
}
.btn-metis-1.disabled,
.btn-metis-1[disabled],
fieldset[disabled] .btn-metis-1,
.btn-metis-1.disabled:hover,
.btn-metis-1[disabled]:hover,
fieldset[disabled] .btn-metis-1:hover,
.btn-metis-1.disabled:focus,
.btn-metis-1[disabled]:focus,
fieldset[disabled] .btn-metis-1:focus,
.btn-metis-1.disabled:active,
.btn-metis-1[disabled]:active,
fieldset[disabled] .btn-metis-1:active,
.btn-metis-1.disabled.active,
.btn-metis-1[disabled].active,
fieldset[disabled] .btn-metis-1.active {
  background-color: #ee465a;
  border-color: #c11a39;
}
.btn-metis-1 .badge {
  color: #ee465a;
  background-color: #fff;
}
.btn-metis-2 {
  color: #ffffff;
  background-color: #9fd256;
  border-color: #6fac34;
}
.btn-metis-2:hover,
.btn-metis-2:focus,
.btn-metis-2:active,
.btn-metis-2.active,
.open .dropdown-toggle.btn-metis-2 {
  color: #ffffff;
  background-color: #8dc936;
  border-color: #517d26;
}
.btn-metis-2:active,
.btn-metis-2.active,
.open .dropdown-toggle.btn-metis-2 {
  background-image: none;
}
.btn-metis-2.disabled,
.btn-metis-2[disabled],
fieldset[disabled] .btn-metis-2,
.btn-metis-2.disabled:hover,
.btn-metis-2[disabled]:hover,
fieldset[disabled] .btn-metis-2:hover,
.btn-metis-2.disabled:focus,
.btn-metis-2[disabled]:focus,
fieldset[disabled] .btn-metis-2:focus,
.btn-metis-2.disabled:active,
.btn-metis-2[disabled]:active,
fieldset[disabled] .btn-metis-2:active,
.btn-metis-2.disabled.active,
.btn-metis-2[disabled].active,
fieldset[disabled] .btn-metis-2.active {
  background-color: #9fd256;
  border-color: #6fac34;
}
.btn-metis-2 .badge {
  color: #9fd256;
  background-color: #fff;
}
.btn-metis-3 {
  color: #ffffff;
  background-color: #fbb450;
  border-color: #f89406;
}
.btn-metis-3:hover,
.btn-metis-3:focus,
.btn-metis-3:active,
.btn-metis-3.active,
.open .dropdown-toggle.btn-metis-3 {
  color: #ffffff;
  background-color: #faa328;
  border-color: #bc7005;
}
.btn-metis-3:active,
.btn-metis-3.active,
.open .dropdown-toggle.btn-metis-3 {
  background-image: none;
}
.btn-metis-3.disabled,
.btn-metis-3[disabled],
fieldset[disabled] .btn-metis-3,
.btn-metis-3.disabled:hover,
.btn-metis-3[disabled]:hover,
fieldset[disabled] .btn-metis-3:hover,
.btn-metis-3.disabled:focus,
.btn-metis-3[disabled]:focus,
fieldset[disabled] .btn-metis-3:focus,
.btn-metis-3.disabled:active,
.btn-metis-3[disabled]:active,
fieldset[disabled] .btn-metis-3:active,
.btn-metis-3.disabled.active,
.btn-metis-3[disabled].active,
fieldset[disabled] .btn-metis-3.active {
  background-color: #fbb450;
  border-color: #f89406;
}
.btn-metis-3 .badge {
  color: #fbb450;
  background-color: #fff;
}
.btn-metis-4 {
  color: #ffffff;
  background-color: #a264e7;
  border-color: #62309a;
}
.btn-metis-4:hover,
.btn-metis-4:focus,
.btn-metis-4:active,
.btn-metis-4.active,
.open .dropdown-toggle.btn-metis-4 {
  color: #ffffff;
  background-color: #8d41e2;
  border-color: #44216b;
}
.btn-metis-4:active,
.btn-metis-4.active,
.open .dropdown-toggle.btn-metis-4 {
  background-image: none;
}
.btn-metis-4.disabled,
.btn-metis-4[disabled],
fieldset[disabled] .btn-metis-4,
.btn-metis-4.disabled:hover,
.btn-metis-4[disabled]:hover,
fieldset[disabled] .btn-metis-4:hover,
.btn-metis-4.disabled:focus,
.btn-metis-4[disabled]:focus,
fieldset[disabled] .btn-metis-4:focus,
.btn-metis-4.disabled:active,
.btn-metis-4[disabled]:active,
fieldset[disabled] .btn-metis-4:active,
.btn-metis-4.disabled.active,
.btn-metis-4[disabled].active,
fieldset[disabled] .btn-metis-4.active {
  background-color: #a264e7;
  border-color: #62309a;
}
.btn-metis-4 .badge {
  color: #a264e7;
  background-color: #fff;
}
.btn-metis-5 {
  color: #ffffff;
  background-color: #777777;
  border-color: #555555;
}
.btn-metis-5:hover,
.btn-metis-5:focus,
.btn-metis-5:active,
.btn-metis-5.active,
.open .dropdown-toggle.btn-metis-5 {
  color: #ffffff;
  background-color: #636363;
  border-color: #363636;
}
.btn-metis-5:active,
.btn-metis-5.active,
.open .dropdown-toggle.btn-metis-5 {
  background-image: none;
}
.btn-metis-5.disabled,
.btn-metis-5[disabled],
fieldset[disabled] .btn-metis-5,
.btn-metis-5.disabled:hover,
.btn-metis-5[disabled]:hover,
fieldset[disabled] .btn-metis-5:hover,
.btn-metis-5.disabled:focus,
.btn-metis-5[disabled]:focus,
fieldset[disabled] .btn-metis-5:focus,
.btn-metis-5.disabled:active,
.btn-metis-5[disabled]:active,
fieldset[disabled] .btn-metis-5:active,
.btn-metis-5.disabled.active,
.btn-metis-5[disabled].active,
fieldset[disabled] .btn-metis-5.active {
  background-color: #777777;
  border-color: #555555;
}
.btn-metis-5 .badge {
  color: #777777;
  background-color: #fff;
}
.btn-metis-6 {
  color: #ffffff;
  background-color: #00b4f5;
  border-color: #008dc5;
}
.btn-metis-6:hover,
.btn-metis-6:focus,
.btn-metis-6:active,
.btn-metis-6.active,
.open .dropdown-toggle.btn-metis-6 {
  color: #ffffff;
  background-color: #0096cc;
  border-color: #006188;
}
.btn-metis-6:active,
.btn-metis-6.active,
.open .dropdown-toggle.btn-metis-6 {
  background-image: none;
}
.btn-metis-6.disabled,
.btn-metis-6[disabled],
fieldset[disabled] .btn-metis-6,
.btn-metis-6.disabled:hover,
.btn-metis-6[disabled]:hover,
fieldset[disabled] .btn-metis-6:hover,
.btn-metis-6.disabled:focus,
.btn-metis-6[disabled]:focus,
fieldset[disabled] .btn-metis-6:focus,
.btn-metis-6.disabled:active,
.btn-metis-6[disabled]:active,
fieldset[disabled] .btn-metis-6:active,
.btn-metis-6.disabled.active,
.btn-metis-6[disabled].active,
fieldset[disabled] .btn-metis-6.active {
  background-color: #00b4f5;
  border-color: #008dc5;
}
.btn-metis-6 .badge {
  color: #00b4f5;
  background-color: #fff;
}
.btn-grad.btn-default,
.btn-grad.btn-primary,
.btn-grad.btn-success,
.btn-grad.btn-info,
.btn-grad.btn-warning,
.btn-grad.btn-danger {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
}
.btn-grad.btn-default:active,
.btn-grad.btn-primary:active,
.btn-grad.btn-success:active,
.btn-grad.btn-info:active,
.btn-grad.btn-warning:active,
.btn-grad.btn-danger:active,
.btn-grad.btn-default.active,
.btn-grad.btn-primary.active,
.btn-grad.btn-success.active,
.btn-grad.btn-info.active,
.btn-grad.btn-warning.active,
.btn-grad.btn-danger.active {
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.btn-grad.btn:active,
.btn-grad.btn.active {
  background-image: none;
}
.btn-grad.btn-default {
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #e0e0e0 100%);
  background-image: linear-gradient(to bottom, #ffffff 0%, #e0e0e0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe0e0e0', GradientType=0);
  background-repeat: repeat-x;
  border-color: #dbdbdb;
  text-shadow: 0 1px 0 #fff;
  border-color: #ccc;
}
.btn-grad.btn-default:hover,
.btn-grad.btn-default:focus {
  background-color: #e0e0e0;
  background-position: 0 -15px;
}
.btn-grad.btn-default:active,
.btn-grad.btn-default.active {
  background-color: #e0e0e0;
  border-color: #dbdbdb;
}
.btn-grad.btn-primary {
  background-image: -webkit-linear-gradient(top, #428bca 0%, #2d6ca2 100%);
  background-image: linear-gradient(to bottom, #428bca 0%, #2d6ca2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff428bca', endColorstr='#ff2d6ca2', GradientType=0);
  background-repeat: repeat-x;
  border-color: #2b669a;
}
.btn-grad.btn-primary:hover,
.btn-grad.btn-primary:focus {
  background-color: #2d6ca2;
  background-position: 0 -15px;
}
.btn-grad.btn-primary:active,
.btn-grad.btn-primary.active {
  background-color: #2d6ca2;
  border-color: #2b669a;
}
.btn-grad.btn-success {
  background-image: -webkit-linear-gradient(top, #5cb85c 0%, #419641 100%);
  background-image: linear-gradient(to bottom, #5cb85c 0%, #419641 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5cb85c', endColorstr='#ff419641', GradientType=0);
  background-repeat: repeat-x;
  border-color: #3e8f3e;
}
.btn-grad.btn-success:hover,
.btn-grad.btn-success:focus {
  background-color: #419641;
  background-position: 0 -15px;
}
.btn-grad.btn-success:active,
.btn-grad.btn-success.active {
  background-color: #419641;
  border-color: #3e8f3e;
}
.btn-grad.btn-warning {
  background-image: -webkit-linear-gradient(top, #f0ad4e 0%, #eb9316 100%);
  background-image: linear-gradient(to bottom, #f0ad4e 0%, #eb9316 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff0ad4e', endColorstr='#ffeb9316', GradientType=0);
  background-repeat: repeat-x;
  border-color: #e38d13;
}
.btn-grad.btn-warning:hover,
.btn-grad.btn-warning:focus {
  background-color: #eb9316;
  background-position: 0 -15px;
}
.btn-grad.btn-warning:active,
.btn-grad.btn-warning.active {
  background-color: #eb9316;
  border-color: #e38d13;
}
.btn-grad.btn-danger {
  background-image: -webkit-linear-gradient(top, #d9534f 0%, #c12e2a 100%);
  background-image: linear-gradient(to bottom, #d9534f 0%, #c12e2a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9534f', endColorstr='#ffc12e2a', GradientType=0);
  background-repeat: repeat-x;
  border-color: #b92c28;
}
.btn-grad.btn-danger:hover,
.btn-grad.btn-danger:focus {
  background-color: #c12e2a;
  background-position: 0 -15px;
}
.btn-grad.btn-danger:active,
.btn-grad.btn-danger.active {
  background-color: #c12e2a;
  border-color: #b92c28;
}
.btn-grad.btn-info {
  background-image: -webkit-linear-gradient(top, #5bc0de 0%, #2aabd2 100%);
  background-image: linear-gradient(to bottom, #5bc0de 0%, #2aabd2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2aabd2', GradientType=0);
  background-repeat: repeat-x;
  border-color: #28a4c9;
}
.btn-grad.btn-info:hover,
.btn-grad.btn-info:focus {
  background-color: #2aabd2;
  background-position: 0 -15px;
}
.btn-grad.btn-info:active,
.btn-grad.btn-info.active {
  background-color: #2aabd2;
  border-color: #28a4c9;
}
.btn-grad.btn-metis-1 {
  background-image: -webkit-linear-gradient(top, #ee465a 0%, #e2152d 100%);
  background-image: linear-gradient(to bottom, #ee465a 0%, #e2152d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee465a', endColorstr='#ffe2152d', GradientType=0);
  background-repeat: repeat-x;
  border-color: #d9142b;
}
.btn-grad.btn-metis-1:hover,
.btn-grad.btn-metis-1:focus {
  background-color: #e2152d;
  background-position: 0 -15px;
}
.btn-grad.btn-metis-1:active,
.btn-grad.btn-metis-1.active {
  background-color: #e2152d;
  border-color: #d9142b;
}
.btn-grad.btn-metis-2 {
  background-image: -webkit-linear-gradient(top, #9fd256 0%, #81b931 100%);
  background-image: linear-gradient(to bottom, #9fd256 0%, #81b931 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff9fd256', endColorstr='#ff81b931', GradientType=0);
  background-repeat: repeat-x;
  border-color: #7cb12f;
}
.btn-grad.btn-metis-2:hover,
.btn-grad.btn-metis-2:focus {
  background-color: #81b931;
  background-position: 0 -15px;
}
.btn-grad.btn-metis-2:active,
.btn-grad.btn-metis-2.active {
  background-color: #81b931;
  border-color: #7cb12f;
}
.btn-grad.btn-metis-3 {
  background-image: -webkit-linear-gradient(top, #fbb450 0%, #fa9a14 100%);
  background-image: linear-gradient(to bottom, #fbb450 0%, #fa9a14 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbb450', endColorstr='#fffa9a14', GradientType=0);
  background-repeat: repeat-x;
  border-color: #f9960a;
}
.btn-grad.btn-metis-3:hover,
.btn-grad.btn-metis-3:focus {
  background-color: #fa9a14;
  background-position: 0 -15px;
}
.btn-grad.btn-metis-3:active,
.btn-grad.btn-metis-3.active {
  background-color: #fa9a14;
  border-color: #f9960a;
}
.btn-grad.btn-metis-4 {
  background-image: -webkit-linear-gradient(top, #a264e7 0%, #822fdf 100%);
  background-image: linear-gradient(to bottom, #a264e7 0%, #822fdf 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffa264e7', endColorstr='#ff822fdf', GradientType=0);
  background-repeat: repeat-x;
  border-color: #7d26dd;
}
.btn-grad.btn-metis-4:hover,
.btn-grad.btn-metis-4:focus {
  background-color: #822fdf;
  background-position: 0 -15px;
}
.btn-grad.btn-metis-4:active,
.btn-grad.btn-metis-4.active {
  background-color: #822fdf;
  border-color: #7d26dd;
}
.btn-grad.btn-metis-5 {
  background-image: -webkit-linear-gradient(top, #777777 0%, #585858 100%);
  background-image: linear-gradient(to bottom, #777777 0%, #585858 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff777777', endColorstr='#ff585858', GradientType=0);
  background-repeat: repeat-x;
  border-color: #535353;
}
.btn-grad.btn-metis-5:hover,
.btn-grad.btn-metis-5:focus {
  background-color: #585858;
  background-position: 0 -15px;
}
.btn-grad.btn-metis-5:active,
.btn-grad.btn-metis-5.active {
  background-color: #585858;
  border-color: #535353;
}
.btn-grad.btn-metis-6 {
  background-image: -webkit-linear-gradient(top, #00b4f5 0%, #0087b8 100%);
  background-image: linear-gradient(to bottom, #00b4f5 0%, #0087b8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff00b4f5', endColorstr='#ff0087b8', GradientType=0);
  background-repeat: repeat-x;
  border-color: #0080ae;
}
.btn-grad.btn-metis-6:hover,
.btn-grad.btn-metis-6:focus {
  background-color: #0087b8;
  background-position: 0 -15px;
}
.btn-grad.btn-metis-6:active,
.btn-grad.btn-metis-6.active {
  background-color: #0087b8;
  border-color: #0080ae;
}
.btn-circle {
  border-radius: 500px;
  width: 40px;
  height: 40px;
  padding: 8px 10px;
}
.btn-circle.btn-lg {
  width: 60px;
  height: 60px;
  padding: 14px 16px;
}
.btn-circle.btn-sm {
  width: 30px;
  height: 30px;
  padding: 5px 10px;
}
.btn-circle.btn-xs {
  width: 20px;
  height: 20px;
  padding: 0 5px;
}
.btn-rect {
  border-radius: 0 !important;
}
.btn-round.btn {
  border-radius: 28px;
}
.btn-round.btn-xs {
  border-radius: 28px;
}
.btn-round.btn-sm {
  border-radius: 28px;
}
.btn-round.btn-lg {
  border-radius: 28px;
}
.btn-line.btn-default {
  color: #333333;
  background-color: #fff;
  border-color: #cccccc;
}
.btn-line.btn-default:hover,
.btn-line.btn-default:focus,
.btn-line.btn-default:active,
.btn-line.btn-default.active {
  background-color: #262626;
  color: #ffffff;
  border-color: #b3b3b3;
}
.btn-line.btn-default.disabled,
.btn-line.btn-default[disabled],
fieldset[disabled] .btn-line.btn-default,
.btn-line.btn-default.disabled:hover,
.btn-line.btn-default[disabled]:hover,
fieldset[disabled] .btn-line.btn-default:hover,
.btn-line.btn-default.disabled:focus,
.btn-line.btn-default[disabled]:focus,
fieldset[disabled] .btn-line.btn-default:focus,
.btn-line.btn-default.disabled:active,
.btn-line.btn-default[disabled]:active,
fieldset[disabled] .btn-line.btn-default:active,
.btn-line.btn-default.disabled.active,
.btn-line.btn-default[disabled].active,
fieldset[disabled] .btn-line.btn-default.active {
  background-color: #ffffff;
  border-color: #cccccc;
}
.btn-line.btn-primary {
  color: #428bca;
  background-color: #fff;
  border-color: #357ebd;
}
.btn-line.btn-primary:hover,
.btn-line.btn-primary:focus,
.btn-line.btn-primary:active,
.btn-line.btn-primary.active {
  background-color: #357ebd;
  color: #ffffff;
  border-color: #2a6496;
}
.btn-line.btn-primary.disabled,
.btn-line.btn-primary[disabled],
fieldset[disabled] .btn-line.btn-primary,
.btn-line.btn-primary.disabled:hover,
.btn-line.btn-primary[disabled]:hover,
fieldset[disabled] .btn-line.btn-primary:hover,
.btn-line.btn-primary.disabled:focus,
.btn-line.btn-primary[disabled]:focus,
fieldset[disabled] .btn-line.btn-primary:focus,
.btn-line.btn-primary.disabled:active,
.btn-line.btn-primary[disabled]:active,
fieldset[disabled] .btn-line.btn-primary:active,
.btn-line.btn-primary.disabled.active,
.btn-line.btn-primary[disabled].active,
fieldset[disabled] .btn-line.btn-primary.active {
  background-color: #ffffff;
  border-color: #357ebd;
}
.btn-line.btn-warning {
  color: #f0ad4e;
  background-color: #fff;
  border-color: #eea236;
}
.btn-line.btn-warning:hover,
.btn-line.btn-warning:focus,
.btn-line.btn-warning:active,
.btn-line.btn-warning.active {
  background-color: #eea236;
  color: #ffffff;
  border-color: #df8a13;
}
.btn-line.btn-warning.disabled,
.btn-line.btn-warning[disabled],
fieldset[disabled] .btn-line.btn-warning,
.btn-line.btn-warning.disabled:hover,
.btn-line.btn-warning[disabled]:hover,
fieldset[disabled] .btn-line.btn-warning:hover,
.btn-line.btn-warning.disabled:focus,
.btn-line.btn-warning[disabled]:focus,
fieldset[disabled] .btn-line.btn-warning:focus,
.btn-line.btn-warning.disabled:active,
.btn-line.btn-warning[disabled]:active,
fieldset[disabled] .btn-line.btn-warning:active,
.btn-line.btn-warning.disabled.active,
.btn-line.btn-warning[disabled].active,
fieldset[disabled] .btn-line.btn-warning.active {
  background-color: #ffffff;
  border-color: #eea236;
}
.btn-line.btn-danger {
  color: #d9534f;
  background-color: #fff;
  border-color: #d43f3a;
}
.btn-line.btn-danger:hover,
.btn-line.btn-danger:focus,
.btn-line.btn-danger:active,
.btn-line.btn-danger.active {
  background-color: #d43f3a;
  color: #ffffff;
  border-color: #b52b27;
}
.btn-line.btn-danger.disabled,
.btn-line.btn-danger[disabled],
fieldset[disabled] .btn-line.btn-danger,
.btn-line.btn-danger.disabled:hover,
.btn-line.btn-danger[disabled]:hover,
fieldset[disabled] .btn-line.btn-danger:hover,
.btn-line.btn-danger.disabled:focus,
.btn-line.btn-danger[disabled]:focus,
fieldset[disabled] .btn-line.btn-danger:focus,
.btn-line.btn-danger.disabled:active,
.btn-line.btn-danger[disabled]:active,
fieldset[disabled] .btn-line.btn-danger:active,
.btn-line.btn-danger.disabled.active,
.btn-line.btn-danger[disabled].active,
fieldset[disabled] .btn-line.btn-danger.active {
  background-color: #ffffff;
  border-color: #d43f3a;
}
.btn-line.btn-success {
  color: #5cb85c;
  background-color: #fff;
  border-color: #4cae4c;
}
.btn-line.btn-success:hover,
.btn-line.btn-success:focus,
.btn-line.btn-success:active,
.btn-line.btn-success.active {
  background-color: #4cae4c;
  color: #ffffff;
  border-color: #3d8b3d;
}
.btn-line.btn-success.disabled,
.btn-line.btn-success[disabled],
fieldset[disabled] .btn-line.btn-success,
.btn-line.btn-success.disabled:hover,
.btn-line.btn-success[disabled]:hover,
fieldset[disabled] .btn-line.btn-success:hover,
.btn-line.btn-success.disabled:focus,
.btn-line.btn-success[disabled]:focus,
fieldset[disabled] .btn-line.btn-success:focus,
.btn-line.btn-success.disabled:active,
.btn-line.btn-success[disabled]:active,
fieldset[disabled] .btn-line.btn-success:active,
.btn-line.btn-success.disabled.active,
.btn-line.btn-success[disabled].active,
fieldset[disabled] .btn-line.btn-success.active {
  background-color: #ffffff;
  border-color: #4cae4c;
}
.btn-line.btn-info {
  color: #5bc0de;
  background-color: #fff;
  border-color: #46b8da;
}
.btn-line.btn-info:hover,
.btn-line.btn-info:focus,
.btn-line.btn-info:active,
.btn-line.btn-info.active {
  background-color: #46b8da;
  color: #ffffff;
  border-color: #28a1c5;
}
.btn-line.btn-info.disabled,
.btn-line.btn-info[disabled],
fieldset[disabled] .btn-line.btn-info,
.btn-line.btn-info.disabled:hover,
.btn-line.btn-info[disabled]:hover,
fieldset[disabled] .btn-line.btn-info:hover,
.btn-line.btn-info.disabled:focus,
.btn-line.btn-info[disabled]:focus,
fieldset[disabled] .btn-line.btn-info:focus,
.btn-line.btn-info.disabled:active,
.btn-line.btn-info[disabled]:active,
fieldset[disabled] .btn-line.btn-info:active,
.btn-line.btn-info.disabled.active,
.btn-line.btn-info[disabled].active,
fieldset[disabled] .btn-line.btn-info.active {
  background-color: #ffffff;
  border-color: #46b8da;
}
.btn-line.btn-metis-1 {
  color: #ee465a;
  background-color: #fff;
  border-color: #c11a39;
}
.btn-line.btn-metis-1:hover,
.btn-line.btn-metis-1:focus,
.btn-line.btn-metis-1:active,
.btn-line.btn-metis-1.active {
  background-color: #ec2f45;
  color: #ffffff;
  border-color: #94142c;
}
.btn-line.btn-metis-1.disabled,
.btn-line.btn-metis-1[disabled],
fieldset[disabled] .btn-line.btn-metis-1,
.btn-line.btn-metis-1.disabled:hover,
.btn-line.btn-metis-1[disabled]:hover,
fieldset[disabled] .btn-line.btn-metis-1:hover,
.btn-line.btn-metis-1.disabled:focus,
.btn-line.btn-metis-1[disabled]:focus,
fieldset[disabled] .btn-line.btn-metis-1:focus,
.btn-line.btn-metis-1.disabled:active,
.btn-line.btn-metis-1[disabled]:active,
fieldset[disabled] .btn-line.btn-metis-1:active,
.btn-line.btn-metis-1.disabled.active,
.btn-line.btn-metis-1[disabled].active,
fieldset[disabled] .btn-line.btn-metis-1.active {
  background-color: #ffffff;
  border-color: #c11a39;
}
.btn-line.btn-metis-2 {
  color: #9fd256;
  background-color: #fff;
  border-color: #6fac34;
}
.btn-line.btn-metis-2:hover,
.btn-line.btn-metis-2:focus,
.btn-line.btn-metis-2:active,
.btn-line.btn-metis-2.active {
  background-color: #94cd42;
  color: #ffffff;
  border-color: #568528;
}
.btn-line.btn-metis-2.disabled,
.btn-line.btn-metis-2[disabled],
fieldset[disabled] .btn-line.btn-metis-2,
.btn-line.btn-metis-2.disabled:hover,
.btn-line.btn-metis-2[disabled]:hover,
fieldset[disabled] .btn-line.btn-metis-2:hover,
.btn-line.btn-metis-2.disabled:focus,
.btn-line.btn-metis-2[disabled]:focus,
fieldset[disabled] .btn-line.btn-metis-2:focus,
.btn-line.btn-metis-2.disabled:active,
.btn-line.btn-metis-2[disabled]:active,
fieldset[disabled] .btn-line.btn-metis-2:active,
.btn-line.btn-metis-2.disabled.active,
.btn-line.btn-metis-2[disabled].active,
fieldset[disabled] .btn-line.btn-metis-2.active {
  background-color: #ffffff;
  border-color: #6fac34;
}
.btn-line.btn-metis-3 {
  color: #fbb450;
  background-color: #fff;
  border-color: #f89406;
}
.btn-line.btn-metis-3:hover,
.btn-line.btn-metis-3:focus,
.btn-line.btn-metis-3:active,
.btn-line.btn-metis-3.active {
  background-color: #faa937;
  color: #ffffff;
  border-color: #c67605;
}
.btn-line.btn-metis-3.disabled,
.btn-line.btn-metis-3[disabled],
fieldset[disabled] .btn-line.btn-metis-3,
.btn-line.btn-metis-3.disabled:hover,
.btn-line.btn-metis-3[disabled]:hover,
fieldset[disabled] .btn-line.btn-metis-3:hover,
.btn-line.btn-metis-3.disabled:focus,
.btn-line.btn-metis-3[disabled]:focus,
fieldset[disabled] .btn-line.btn-metis-3:focus,
.btn-line.btn-metis-3.disabled:active,
.btn-line.btn-metis-3[disabled]:active,
fieldset[disabled] .btn-line.btn-metis-3:active,
.btn-line.btn-metis-3.disabled.active,
.btn-line.btn-metis-3[disabled].active,
fieldset[disabled] .btn-line.btn-metis-3.active {
  background-color: #ffffff;
  border-color: #f89406;
}
.btn-line.btn-metis-4 {
  color: #a264e7;
  background-color: #fff;
  border-color: #62309a;
}
.btn-line.btn-metis-4:hover,
.btn-line.btn-metis-4:focus,
.btn-line.btn-metis-4:active,
.btn-line.btn-metis-4.active {
  background-color: #954ee4;
  color: #ffffff;
  border-color: #492473;
}
.btn-line.btn-metis-4.disabled,
.btn-line.btn-metis-4[disabled],
fieldset[disabled] .btn-line.btn-metis-4,
.btn-line.btn-metis-4.disabled:hover,
.btn-line.btn-metis-4[disabled]:hover,
fieldset[disabled] .btn-line.btn-metis-4:hover,
.btn-line.btn-metis-4.disabled:focus,
.btn-line.btn-metis-4[disabled]:focus,
fieldset[disabled] .btn-line.btn-metis-4:focus,
.btn-line.btn-metis-4.disabled:active,
.btn-line.btn-metis-4[disabled]:active,
fieldset[disabled] .btn-line.btn-metis-4:active,
.btn-line.btn-metis-4.disabled.active,
.btn-line.btn-metis-4[disabled].active,
fieldset[disabled] .btn-line.btn-metis-4.active {
  background-color: #ffffff;
  border-color: #62309a;
}
.btn-line.btn-metis-5 {
  color: #777777;
  background-color: #fff;
  border-color: #555555;
}
.btn-line.btn-metis-5:hover,
.btn-line.btn-metis-5:focus,
.btn-line.btn-metis-5:active,
.btn-line.btn-metis-5.active {
  background-color: #6a6a6a;
  color: #ffffff;
  border-color: #3b3b3b;
}
.btn-line.btn-metis-5.disabled,
.btn-line.btn-metis-5[disabled],
fieldset[disabled] .btn-line.btn-metis-5,
.btn-line.btn-metis-5.disabled:hover,
.btn-line.btn-metis-5[disabled]:hover,
fieldset[disabled] .btn-line.btn-metis-5:hover,
.btn-line.btn-metis-5.disabled:focus,
.btn-line.btn-metis-5[disabled]:focus,
fieldset[disabled] .btn-line.btn-metis-5:focus,
.btn-line.btn-metis-5.disabled:active,
.btn-line.btn-metis-5[disabled]:active,
fieldset[disabled] .btn-line.btn-metis-5:active,
.btn-line.btn-metis-5.disabled.active,
.btn-line.btn-metis-5[disabled].active,
fieldset[disabled] .btn-line.btn-metis-5.active {
  background-color: #ffffff;
  border-color: #555555;
}
.btn-line.btn-metis-6 {
  color: #00b4f5;
  background-color: #fff;
  border-color: #008dc5;
}
.btn-line.btn-metis-6:hover,
.btn-line.btn-metis-6:focus,
.btn-line.btn-metis-6:active,
.btn-line.btn-metis-6.active {
  background-color: #00a1dc;
  color: #ffffff;
  border-color: #006892;
}
.btn-line.btn-metis-6.disabled,
.btn-line.btn-metis-6[disabled],
fieldset[disabled] .btn-line.btn-metis-6,
.btn-line.btn-metis-6.disabled:hover,
.btn-line.btn-metis-6[disabled]:hover,
fieldset[disabled] .btn-line.btn-metis-6:hover,
.btn-line.btn-metis-6.disabled:focus,
.btn-line.btn-metis-6[disabled]:focus,
fieldset[disabled] .btn-line.btn-metis-6:focus,
.btn-line.btn-metis-6.disabled:active,
.btn-line.btn-metis-6[disabled]:active,
fieldset[disabled] .btn-line.btn-metis-6:active,
.btn-line.btn-metis-6.disabled.active,
.btn-line.btn-metis-6[disabled].active,
fieldset[disabled] .btn-line.btn-metis-6.active {
  background-color: #ffffff;
  border-color: #008dc5;
}
.btn-flat {
  border-width: 0 !important;
}
/* BEGIN animated checkbox styles */
.anim-checkbox {
  /*adding some colors for fun*/
}
.anim-checkbox label {
  position: relative;
}
.anim-checkbox label:before,
.anim-checkbox label:after {
  font-family: FontAwesome;
  /*absolutely positioned*/
  position: absolute;
  left: -22px;
}
.anim-checkbox label:before {
  content: '\f096';
  /*unchecked*/
}
.anim-checkbox label:after {
  content: '\f046';
  /*checked*/
  /*checked icon will be hidden by default by using 0 max-width and overflow hidden*/
  max-width: 0;
  overflow: hidden;
  opacity: 0.5;
  /*CSS3 transitions for animated effect*/
  transition: all 0.35s;
}
.anim-checkbox input[type="checkbox"] {
  display: none;
}
.anim-checkbox input[type="checkbox"]:checked + label:after {
  max-width: 25px;
  /*an arbitratry number more than the icon's width*/
  opacity: 1;
  /*for fade in effect*/
}
.anim-checkbox .primary:checked + label:before,
.anim-checkbox .primary:checked + label:after {
  color: #428bca;
}
.anim-checkbox .success:checked + label:before,
.anim-checkbox .success:checked + label:after {
  color: #5cb85c;
}
.anim-checkbox .warning:checked + label:before,
.anim-checkbox .warning:checked + label:after {
  color: #f0ad4e;
}
.anim-checkbox .danger:checked + label:before,
.anim-checkbox .danger:checked + label:after {
  color: #d9534f;
}
.anim-checkbox .info:checked + label:before,
.anim-checkbox .info:checked + label:after {
  color: #5bc0de;
}
/* END animated checkbox styles */
/* BEGIN Pricing Table */
.pricing-table {
  text-align: center;
  padding: 0;
  margin: 30px 0;
  line-height: 150%;
}
.pricing-table li {
  list-style: none;
}
.pricing-table > li {
  background-image: -webkit-linear-gradient(top, #ebeef5 0%, #ffffff 100%);
  background-image: linear-gradient(to bottom, #ebeef5 0%, #ffffff 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffebeef5', endColorstr='#ffffffff', GradientType=0);
  color: #444;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.pricing-table.dark > li {
  background-image: -webkit-linear-gradient(top, #666666 0%, #444444 100%);
  background-image: linear-gradient(to bottom, #666666 0%, #444444 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff666666', endColorstr='#ff444444', GradientType=0);
  color: #fff;
}
.pricing-table.dark > li.active.default {
  color: #fff;
}
.pricing-table > li.active {
  color: #fff;
  -webkit-box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.pricing-table > li.active.default {
  color: #444;
}
@media (min-width: 768px) {
  .pricing-table > li.active {
    -webkit-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03);
  }
}
.pricing-table > li.active.primary {
  background-image: -webkit-linear-gradient(top, #357ebd 0%, #428bca 100%);
  background-image: linear-gradient(to bottom, #357ebd 0%, #428bca 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff357ebd', endColorstr='#ff428bca', GradientType=0);
}
.pricing-table > li.active.success {
  background-image: -webkit-linear-gradient(top, #4cae4c 0%, #5cb85c 100%);
  background-image: linear-gradient(to bottom, #4cae4c 0%, #5cb85c 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff4cae4c', endColorstr='#ff5cb85c', GradientType=0);
}
.pricing-table > li.active.warning {
  background-image: -webkit-linear-gradient(top, #eea236 0%, #f0ad4e 100%);
  background-image: linear-gradient(to bottom, #eea236 0%, #f0ad4e 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffeea236', endColorstr='#fff0ad4e', GradientType=0);
}
.pricing-table > li.active.danger {
  background-image: -webkit-linear-gradient(top, #d43f3a 0%, #d9534f 100%);
  background-image: linear-gradient(to bottom, #d43f3a 0%, #d9534f 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd43f3a', endColorstr='#ffd9534f', GradientType=0);
}
.pricing-table > li.active.info {
  background-image: -webkit-linear-gradient(top, #46b8da 0%, #5bc0de 100%);
  background-image: linear-gradient(to bottom, #46b8da 0%, #5bc0de 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff46b8da', endColorstr='#ff5bc0de', GradientType=0);
}
.pricing-table .footer {
  padding: 15px;
  margin: 15px -15px 0;
  background: #eee;
}
.pricing-table.dark .footer {
  background: #333;
}
.pricing-table h3 {
  text-transform: uppercase;
  padding: 15px 0;
}
.pricing-table .price-body {
  width: 125px;
  height: 125px;
  margin: 0 auto 15px auto;
  border: 2px solid #444;
  border-radius: 100%;
  display: table;
}
.pricing-table.dark .price-body {
  border-color: #fff;
}
.pricing-table > li.active.primary .price-body,
.pricing-table > li.active.success .price-body,
.pricing-table > li.active.warning .price-body,
.pricing-table > li.active.danger .price-body,
.pricing-table > li.active.info .price-body {
  border-color: #fff;
}
.pricing-table .price {
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  /*Lets vertically center align the price now*/
  vertical-align: middle;
  display: table-cell;
}
.pricing-table .price .price-figure {
  display: block;
}
.pricing-table .price .price-term {
  font-size: 11px;
  font-weight: normal;
}
.pricing-table .features ul {
  margin: 0;
  padding: 0;
}
.pricing-table .features ul li {
  padding: 5px 0;
}
/* END Pricing Table */
/* horizontal rules */
.inner hr {
  margin-top: 10px;
  border-top-color: #ccc;
}
/* BEGIN PROGRESSBAR STYLES */
.progress.xs {
  height: 6px;
}
.progress.sm {
  height: 10px;
}
.progress.md {
  height: 12px;
}
.progress.lg {
  height: 28px;
}
/* END PROGRESSBAR STYLES */
.quick-btn {
  background: #EEEEEE;
  -webkit-box-shadow: 0 0 0 1px #F8F8F8 inset, 0 0 0 1px #CCCCCC;
  box-shadow: 0 0 0 1px #F8F8F8 inset, 0 0 0 1px #CCCCCC;
  color: #444444;
  display: inline-block;
  height: 80px;
  margin: 10px;
  padding-top: 16px;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
  width: 90px;
  position: relative;
}
.quick-btn span {
  display: block;
}
.quick-btn .label {
  position: absolute;
  right: -5px;
  top: -5px;
}
.quick-btn:hover {
  text-decoration: none;
  color: #fff;
  background-color: #4d7589;
  text-shadow: 0 1px 1px #000;
}
.quick-btn.small {
  width: 40px;
  height: 30px;
  padding-top: 6px;
}
.simpleTable tr th:first-child,
.simpleTable tr td:first-child {
  text-align: center;
  width: 27px;
}
/* BEGIN SORTABLETABLE STYLES */
.sortableTable th {
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #f2f2f2 100%);
  background-image: linear-gradient(to bottom, #ffffff 0%, #f2f2f2 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0);
  cursor: pointer;
}
.sortableTable th i {
  display: none;
  float: right;
}
.sortableTable th:hover {
  color: #888;
}
.sortableTable th.tablesorter-header i.fa-sort {
  display: inline-block;
}
.sortableTable th.tablesorter-header.tablesorter-headerDesc i.fa-sort {
  display: none;
}
.sortableTable th.tablesorter-header.tablesorter-headerDesc i.fa-sort-desc {
  display: inline-block;
}
.sortableTable th.tablesorter-header.tablesorter-headerAsc i.fa-sort {
  display: none;
}
.sortableTable th.tablesorter-header.tablesorter-headerAsc i.fa-sort-asc {
  display: inline-block;
}
/* END SORTABLETABLE STYLES */
/* BEGIN SPARKLINE STYLES */
.sparkline {
  width: 50px;
  border-right: 1px solid #DCDCDC;
  -webkit-box-shadow: 1px 0 0 0 #ffffff;
  box-shadow: 1px 0 0 0 #ffffff;
  float: left;
  margin-right: 12px;
  padding: 10px 14px 0px 4px;
  line-height: 52px;
}
.jqstooltip {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
/* BEGIN SPARKLINE STYLES */
.stats_box {
  display: inline-block;
  list-style: none outside none;
  margin-left: 0;
  margin-top: 20px;
}
.stats_box li {
  background: #EEEEEE;
  -webkit-box-shadow: 0 0 0 1px #F8F8F8 inset, 0 0 0 1px #CCCCCC;
  box-shadow: 0 0 0 1px #F8F8F8 inset, 0 0 0 1px #CCCCCC;
  display: inline-block;
  line-height: 18px;
  margin: 0 10px 10px;
  padding: 0 10px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
}
.stats_box .stat_text {
  float: left;
  font-size: 12px;
  padding: 9px 10px 7px 0;
  text-align: left;
  width: 150px;
  position: relative;
}
.stats_box .stat_text strong {
  display: block;
  font-size: 16px;
}
.stats_box .stat_text .percent {
  color: #444;
  float: right;
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  right: 0;
  top: 17px;
}
.stats_box .stat_text .percent.up {
  color: #46a546;
}
.stats_box .stat_text .percent.down {
  color: #C52F61;
}
/* BEGIN WELL DARK STYLES */
.well.dark {
  background-color: #202020;
  background-color: rgba(0, 0, 0, 0.3);
  border: none;
  color: #999;
  margin-bottom: 10px;
  padding-top: 10px;
  -webkit-box-shadow: "rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset";
  box-shadow: "rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset";
}
.well.dark .alert {
  margin-bottom: 0;
}
/* END WELL DARK STYLES */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
::-webkit-scrollbar-thumb {
  border-radius: 1em;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #999;
}
::-webkit-scrollbar-track {
  border-radius: 1em;
  background: transparent;
}
::-webkit-scrollbar-track:hover {
  background: rgba(110, 110, 110, 0.25);
}
/* BEGIN FULLCALENDAR STYLES */
.fc-event.label {
  border: 1px solid #808080;
  color: #fff;
  font-size: .85em;
  cursor: default;
  background-color: #999999;
}
.fc-event.label.label-default {
  border-color: #8c8c8c;
  background-color: #999999;
}
.fc-event.label.label-default[href]:hover,
.fc-event.label.label-default[href]:focus {
  background-color: #808080;
}
.fc-event.label.label-primary {
  border-color: #357ebd;
  background-color: #428bca;
}
.fc-event.label.label-primary[href]:hover,
.fc-event.label.label-primary[href]:focus {
  background-color: #3071a9;
}
.fc-event.label.label-success {
  border-color: #4cae4c;
  background-color: #5cb85c;
}
.fc-event.label.label-success[href]:hover,
.fc-event.label.label-success[href]:focus {
  background-color: #449d44;
}
.fc-event.label.label-info {
  border-color: #46b8da;
  background-color: #5bc0de;
}
.fc-event.label.label-info[href]:hover,
.fc-event.label.label-info[href]:focus {
  background-color: #31b0d5;
}
.fc-event.label.label-warning {
  border-color: #eea236;
  background-color: #f0ad4e;
}
.fc-event.label.label-warning[href]:hover,
.fc-event.label.label-warning[href]:focus {
  background-color: #ec971f;
}
.fc-event.label.label-danger {
  border-color: #d43f3a;
  background-color: #d9534f;
}
.fc-event.label.label-danger[href]:hover,
.fc-event.label.label-danger[href]:focus {
  background-color: #c9302c;
}
/* END FULLCALENDAR STYLES */
.google-maps {
  min-height: 300px;
}
.p-xs {
  padding: 10px;
}
.p-xs-t {
  padding-top: 10px;
}
.p-xs-l {
  padding-left: 10px;
}
.p-xs-b {
  padding-bottom: 10px;
}
.p-xs-r {
  padding-right: 10px;
}
.p-sm {
  padding: 15px;
}
.p-sm-t {
  padding-top: 15px;
}
.p-sm-l {
  padding-left: 15px;
}
.p-sm-b {
  padding-bottom: 15px;
}
.p-sm-r {
  padding-right: 15px;
}
.p-md {
  padding: 25px;
}
.p-md-t {
  padding-top: 25px;
}
.p-md-l {
  padding-left: 25px;
}
.p-md-b {
  padding-bottom: 25px;
}
.p-md-r {
  padding-right: 25px;
}
.p-lg {
  padding: 40px;
}
.p-lg-t {
  padding-top: 40px;
}
.p-lg-l {
  padding-left: 40px;
}
.p-lg-b {
  padding-bottom: 40px;
}
.p-lg-r {
  padding-right: 40px;
}
.m-xs {
  margin: 10px;
}
.m-xs-t {
  margin-top: 10px;
}
.m-xs-l {
  margin-left: 10px;
}
.m-xs-b {
  margin-bottom: 10px;
}
.m-xs-r {
  margin-right: 10px;
}
.m-sm {
  margin: 15px;
}
.m-sm-t {
  margin-top: 15px;
}
.m-sm-l {
  margin-left: 15px;
}
.m-sm-b {
  margin-bottom: 15px;
}
.m-sm-r {
  margin-right: 15px;
}
.m-md {
  margin: 25px;
}
.m-md-t {
  margin-top: 25px;
}
.m-md-l {
  margin-left: 25px;
}
.m-md-b {
  margin-bottom: 25px;
}
.m-md-r {
  margin-right: 25px;
}
.m-lg {
  margin: 40px;
}
.m-lg-t {
  margin-top: 40px;
}
.m-lg-l {
  margin-left: 40px;
}
.m-lg-b {
  margin-bottom: 40px;
}
.m-lg-r {
  margin-right: 40px;
}
.bg-primary {
  background-color: #428bca;
  color: #ffffff;
}
.bg-primary.dker,
.bg-primary > .dker {
  background-color: #3276b1;
}
.bg-primary.dk,
.bg-primary > .dk {
  background-color: #3681c1;
}
.bg-primary.lt,
.bg-primary > .lt {
  background-color: #5295ce;
}
.bg-primary.lter,
.bg-primary > .lter {
  background-color: #629fd3;
}
.bg-success {
  background-color: #5cb85c;
  color: #ffffff;
}
.bg-success.dker,
.bg-success > .dker {
  background-color: #47a447;
}
.bg-success.dk,
.bg-success > .dk {
  background-color: #4eb24e;
}
.bg-success.lt,
.bg-success > .lt {
  background-color: #6abe6a;
}
.bg-success.lter,
.bg-success > .lter {
  background-color: #78c478;
}
.bg-danger {
  background-color: #d9534f;
  color: #ffffff;
}
.bg-danger.dker,
.bg-danger > .dker {
  background-color: #d2322d;
}
.bg-danger.dk,
.bg-danger > .dk {
  background-color: #d5433e;
}
.bg-danger.lt,
.bg-danger > .lt {
  background-color: #dd6360;
}
.bg-danger.lter,
.bg-danger > .lter {
  background-color: #e07471;
}
.bg-warning {
  background-color: #f0ad4e;
  color: #ffffff;
}
.bg-warning.dker,
.bg-warning > .dker {
  background-color: #ed9c28;
}
.bg-warning.dk,
.bg-warning > .dk {
  background-color: #eea43b;
}
.bg-warning.lt,
.bg-warning > .lt {
  background-color: #f2b661;
}
.bg-warning.lter,
.bg-warning > .lter {
  background-color: #f3be74;
}
.bg-info {
  background-color: #5bc0de;
  color: #ffffff;
}
.bg-info.dker,
.bg-info > .dker {
  background-color: #39b3d7;
}
.bg-info.dk,
.bg-info > .dk {
  background-color: #4ab9db;
}
.bg-info.lt,
.bg-info > .lt {
  background-color: #6cc7e1;
}
.bg-info.lter,
.bg-info > .lter {
  background-color: #7dcde5;
}
.bg-black {
  background-color: #222222;
  color: #ffffff;
}
.bg-black.dker,
.bg-black > .dker {
  background-color: #0e0e0e;
}
.bg-black.dk,
.bg-black > .dk {
  background-color: #181818;
}
.bg-black.lt,
.bg-black > .lt {
  background-color: #2c2c2c;
}
.bg-black.lter,
.bg-black > .lter {
  background-color: #363636;
}
.bg-dark {
  background-color: #444444;
  color: #ffffff;
}
.bg-dark.dker,
.bg-dark > .dker {
  background-color: #303030;
}
.bg-dark.dk,
.bg-dark > .dk {
  background-color: #3a3a3a;
}
.bg-dark.lt,
.bg-dark > .lt {
  background-color: #4e4e4e;
}
.bg-dark.lter,
.bg-dark > .lter {
  background-color: #585858;
}
.bg-light {
  background-color: #eeeeee;
  color: #333333;
}
.bg-light.dker,
.bg-light > .dker {
  background-color: #dadada;
}
.bg-light.dk,
.bg-light > .dk {
  background-color: #e4e4e4;
}
.bg-light.lt,
.bg-light > .lt {
  background-color: #f8f8f8;
}
.bg-light.lter,
.bg-light > .lter {
  background-color: #ffffff;
}
.bg-brillant {
  background: url("../img/pattern/brillant.png") repeat;
}
.bg-always_grey {
  background: url("../img/pattern/always_grey.png") repeat;
}
.bg-retina_wood {
  background: url("../img/pattern/retina_wood.png") repeat;
}
.bg-low_contrast_linen {
  background: url("../img/pattern/low_contrast_linen.png") repeat;
}
.bg-egg_shell {
  background: url("../img/pattern/egg_shell.png") repeat;
}
.bg-cartographer {
  background: url("../img/pattern/cartographer.png") repeat;
}
.bg-batthern {
  background: url("../img/pattern/batthern.png") repeat;
}
.bg-noisy_grid {
  background: url("../img/pattern/noisy_grid.png") repeat;
}
.bg-diamond_upholstery {
  background: url("../img/pattern/diamond_upholstery.png") repeat;
}
.bg-greyfloral {
  background: url("../img/pattern/greyfloral.png") repeat;
}
.bg-white_tiles {
  background: url("../img/pattern/white_tiles.png") repeat;
}
.bg-gplaypattern {
  background: url("../img/pattern/gplaypattern.png") repeat;
}
.bg-arches {
  background: url("../img/pattern/arches.png") repeat;
}
.bg-purty_wood {
  background: url("../img/pattern/purty_wood.png") repeat;
}
.bg-diagonal_striped_brick {
  background: url("../img/pattern/diagonal_striped_brick.png") repeat;
}
.bg-large_leather {
  background: url("../img/pattern/large_leather.png") repeat;
}
.bg-bo_play_pattern {
  background: url("../img/pattern/bo_play_pattern.png") repeat;
}
.bg-irongrip {
  background: url("../img/pattern/irongrip.png") repeat;
}
.bg-wood_1 {
  background: url("../img/pattern/wood_1.png") repeat;
}
.bg-pool_table {
  background: url("../img/pattern/pool_table.png") repeat;
}
.bg-crissXcross {
  background: url("../img/pattern/crissXcross.png") repeat;
}
.bg-rip_jobs {
  background: url("../img/pattern/rip_jobs.png") repeat;
}
.bg-random_grey_variations {
  background: url("../img/pattern/random_grey_variations.png") repeat;
}
.bg-carbon_fibre {
  background: url("../img/pattern/carbon_fibre.png") repeat;
}
/*! suit-flex-embed v1.4.0 | MIT License | github.com/suitcss */
/* ==========================================================================
   FlexEmbed
   ========================================================================== */
/**
 * Flexible media embeds
 *
 * For use with media embeds – such as videos, slideshows, or even images –
 * that need to retain a specific aspect ratio but adapt to the width of their
 * containing element.
 *
 * Example HTML:
 *
 * <div class="FlexEmbed FlexEmbed--4by3">
 *     <iframe class="FlexEmbed-item" src="…"></iframe>
 * </div>
 *
 * <div class="FlexEmbed FlexEmbed--16by9">
 *     [iframe|object|embed]
 * </div>
 *
 * Based on: http://alistapart.com/article/creating-intrinsic-ratios-for-video
 */
.FlexEmbed {
  display: block;
  overflow: hidden;
  position: relative;
}
/**
 * A pseudo-element shunt is used to provide support for `max-height`. The
 * `max-height` property has no affect when using a percentage-padding to set
 * the aspect ratio.
 */
.FlexEmbed:before {
  content: "";
  display: block;
  width: 100%;
}
/**
 * Modifier: 3:1 aspect ratio
 */
.FlexEmbed--3by1:before {
  padding-bottom: 33.33333%;
}
/**
 * Modifier: 2:1 aspect ratio
 */
.FlexEmbed--2by1:before {
  padding-bottom: 50%;
}
/**
 * Modifier: 16:9 aspect ratio
 */
.FlexEmbed--16by9:before {
  padding-bottom: 56.25%;
}
/**
 * Modifier: 4:3 aspect ratio
 */
.FlexEmbed--4by3:before {
  padding-bottom: 75%;
}
/**
 * Descendant: media element
 *
 * Utility of the component is improved by provide an explicit descendant
 * class. However, it will work automatically for iframes, embeds, and objects
 * to account for times when you cannot modify the attributes for 3rd party
 * widget code.
 */
.FlexEmbed-item,
.FlexEmbed iframe,
.FlexEmbed embed,
.FlexEmbed object {
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
/* BEGIN ERROR PAGES STYLES */
body.error {
  padding-top: 40px;
  background: url("../img/pattern/always_grey.png") repeat rgba(68, 68, 68, 0.9);
}
body.error .logo h1 {
  color: #FFFFFF;
  font-size: 100px;
  text-shadow: 0 1px 0 #cccccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbbbbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaaaaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
}
@media (max-width: 767px) {
  body.error .logo h1 {
    font-size: 60px;
  }
}
/* END ERROR PAGES STYLES */
/* BEGIN LOGIN PAGE STYLES */
.login {
  padding-top: 40px;
  padding-bottom: 40px;
  background: url("../img/pattern/black_paper.png") repeat #444444;
}
.login .form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.login .form-signin .form-signin-heading,
.login .form-signin .checkbox {
  margin-bottom: 10px;
}
.login .form-signin .checkbox {
  font-weight: normal;
}
.login .form-signin input[type="text"],
.login .form-signin input[type="password"],
.login .form-signin input[type="email"] {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
}
.login .form-signin input[type="text"]:focus,
.login .form-signin input[type="password"]:focus,
.login .form-signin input[type="email"]:focus {
  z-index: 2;
}
.login .form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.login .form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.login .form-signin input[type="email"] {
  margin-bottom: -1px;
  border-radius: 0;
}
/* END LOGIN PAGE STYLES */
