#top > .navbar {
	border-top: 3px solid #428bca;
}

#top > .navbar .dropdown-menu > li > a:hover,
#top > .navbar .dropdown-menu > li > a:focus {
	background-image: -webkit-gradient(linear, left 0%, left 100%, from(#428bca), to(#3071a9));
	background-image: -webkit-linear-gradient(top, #428bca, 0%, #3071a9, 100%);
	background-image: -moz-linear-gradient(top, #428bca 0%, #3071a9 100%);
	background-image: linear-gradient(to bottom, #428bca 0%, #3071a9 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff428bca', endColorstr='#ff3071a9', GradientType=0);
	color: #000;
}

.secondMenu .dropdown-menu li a:hover, 
.secondMenu .dropdown-menu li a:focus {
	color: white !important;
}

#menu > li > a {
	padding: 3px;
/* 	width: 100%; */
}

.version sub {
	bottom: -30px;
/* 	color: white; */
	margin-right: 20px;
}

.head .search-bar .main-search input[type="text"]:FOCUS {
	width: 400px;
	background-color: white;
	color: black;
}
.head .search-bar .main-search button, .head .search-bar .main-search input[type="submit"] {
/* 	color: red; */
}

.search-bar {
	width: 103px !important;
}

.search-bar .dropdown-menu {
    top: 45px;
    left: -88px;
/*     min-width: 260px; */
/*     width: 600px; */
	min-width: 900px;
}

.search-bar .dropdown-menu input[type="text"]{
	padding: 6px 10px;
}

.inner {
	min-height: 1800px;
}

a {
	cursor: pointer;
}

#list-entries {
/* 	max-height: 250px; */
	overflow: auto;
}

#list-entries a {
	text-decoration: none;
	color: white;
	padding: 5px;
	display: block;
}

#list-entries a:HOVER {
	background-color: gray;
}

.results-bar {
	background-color: white;
	background: none repeat scroll 0 0 #404040;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.05) inset;
    color: #777777;
    font-size: 12px;
    font-weight: bold;
    padding: 3px 15px;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    display: block;
}
.tabbable .nav > li > a {
	padding: 3px 10px;
}

#main {
	padding-top: 10px;
	padding-bottom: 700px;
}

#content .inner {
	padding: 0px;
	border: none;
}

#content .outer {
	padding: 3px;
}

.inner {
	min-height: 300px;
}



/* ---------------------------------------------------------------------------------------------  BULK CHANGE PANEL -------*/
.bulk-change .bulk-change-for, .bulk-change .bulk-change-do, .bulk-change .button-group {
	margin: 20px;
}

.bulk-change input[type="text"] {
	margin-left: 10px;
}


.bulk-change .bulk-change-operation {
	margin: 10px;
	display: inline-block;
}

/* ---------------------------------------------------------------------------------------------  GENERAL SEARCH PANEL -------*/
.generalsearch .generalsearch-found-objects table.results {
	margin: 20px;
/* 	table-layout: fixed; */
	width: 100%;
}

.generalsearch .generalsearch-found-objects table.results tr, 
.generalsearch .generalsearch-found-objects table.results td, 
.generalsearch .generalsearch-found-objects table.resultsth {
	border: 1px solid lightgray;
}

.generalsearch .generalsearch-found-objects table.results tr:nth-child(even) {
	background-color: #eaeaea;
}

.generalsearch .generalsearch-found-objects table.results tr.notfirst:HOVER {
	background-color: lightgray;
}

.generalsearch .generalsearch-found-objects table.results td:last-child { 
/* 	width: 100px;  */
}


/* ---------------------------------------------------------------------------------------------  TABLE PANEL -------*/
.tab-panel .values {
	max-height: 100px;
	overflow: auto;
}

.tab-panel .values dl {
	margin-bottom: 0px;
}

.beans-panel {
/* 	height: 400px; */
/* 	border: 1px solid #9A9A9A; */
/*     border-radius: 6px; */
/*     margin-top: 2px; */
/*     margin-left: 2px; */
}

.tab-panel .column-filter {
	margin: 5px;
	width: 70%;
}

.table-columns {
	min-width: 250px;
	max-width: 250px;
}

.beans-tables table td:last-child {
	min-width: 230px;
}

.beans-tables table td:first-child {
/* 	width: 25%; */
/* 	min-width: 25%; */
/* 	max-width: 25%; */
}

.beans-tables table .columns-meta div {
	display: inline-block;
}

/* ---------------------------------------------------------------------------------------------  Pager -------*/
.pager table {
/* 	vertical-align: middle; */
	color: #CECECE;
}

.pager table td {
	font-size: large;
	padding: 10px;
	width: 30px;
	text-align: center;
	cursor: pointer;
}

.pager table td.selected {
	border: 1px dotted #ddd;
	color: black;
}

.pager .selected {
	color: red;
}

/*----------------------------------------------------------------------------------------USERS panel-------*/
.users-panel .form-control {
	display: inline;
	width: 250px;
}

/*----------------------------------------------------------------------------------------INFO/ERR/WARN panels-------*/
.msg-info {
	font-size: small;
}

.msg-info-ok {
}

.msg-info-error {
}

.notifications-list {
	min-width: 600px;
}

.notifications-list .new {
	font-weight: bold;
}

.notifications-list .read {
}

.notifications-list .locked {
	color: #eea236;
}

.notifications-list .archived {
	color: gray;
}

.notifications-list .label {
	margin-right: 5px;
}

.notifications .btn-group {
/* 	margin-top: 10px; */
}

/*----------------------------------------------------------------------------------------QUERY PANEL-------*/
.notebook-entry .query-name {
	width: 50%;
}

.awk-panel input {
	margin: 5px;
}

.query-panel {
/* 	border-left: 4px solid #E4E4E4; */
/* 	border-top: 3px solid #E4E4E4; */
    padding: 3px;
	margin-top: 10px;
	display: block;
	background-color: rgb(247, 247, 247);
	border-radius: 3px;
}

.query-panel .nav-tabs > li > a {
	padding: 4px 10px;
}

.query-panel .tabs .tab-panel {
}

.content .chart svg {
	max-height: 90%;
	margin: 0px;
            padding: 0px;
/*             height: 100%; */
            width: 100%;
            box-sizing: border-box;
	
}

.content .chart .chart-title, .content .chart .chart-xlabel, .content .chart .chart-ylabel {
	font-weight: bolder;
	text-align: center;
}

.content .chart .chart-ylabel {
	vertical-align: middle;
	padding-left: 200px;
}

.query-panel h5 {
	font-weight: bold;
	font-size: medium;
/* 	margin-left: 10px; */
	display: inline-block;
}

.query-panel .menu {
	float: right;
	display: inline-block;
}

.query-panel .tabs-component {
}

.query-panel .tabs-component .tabs-panel {
}

.query-panel .tab-query textarea, .query-panel .tab-notes textarea, .query-panel .tab-tables {
	width: 100% !important;
	height: 90% !important;
	min-height: 500px;
}

.query-panel .tab-query svg {
	min-height: 500px;
}

.query-panel .dl-horizontal {
	min-height: 520px;
}

.query-panel .tab-query table {
	width: 100%;
	height: 100%;
	table-layout:fixed;	
}

.query-panel .tab-query table td {
	vertical-align: top;
}

.query-panel .btn-group {
	margin: 5px;
}

.query-panel .btn-refresh {
	margin-right: 2px !important;
}

.query-panel .status {
	margin: 0px 10px;
}

.nv-legend-text {
	font-size: x-small !important;
}

.query-panel .figure {
	margin: 20px;
}

.query-panel .figure img {
	max-height:100%; max-width:100%;
}

/*----------------------------------------------------------------------------------------COMBO COMPONENTS-------*/
.combo {
	border: 1px dotted lightgray;
	padding: 3px 10px;
/* 	display: inline-block; */
	cursor: pointer;
}

.combo a {
	margin-right: 10px;
}

/*----------------------------------------------------------------------------------------TABLES LOOKUP-------*/
.tables-lookup {
	padding: 5px;
}

.tables-lookup button {
	margin-top: -3px;
}

.tables-lookup input {
	width: 30%;
}

.tables-lookup {
	font-size: small;
}

.tables-lookup .id, .notebook-table-view .id, .main-search .id {
	font-size: x-small;
	font-style: italic;
}

.topnav #tables-dropdown {
	min-width: 550px;
}

.topnav #tables-dropdown td {
	padding: 0px;
}

.topnav #tables-dropdown input {
/* 	padding: 10px; */
	width: 40%;
}

.topnav #tables-dropdown .btn-group {
	float: none;
}

/*---------------------------------------------------------------------------------------- TABLE DATA FILTER -------*/
.table-data-view .table-data-filter {
	margin: 5px;
}

.table-data-view .table-data {
	overflow: auto;
}

.table-data-view .table-data th {
	text-align: center;
}

.table-data-view .table-data td {
	padding: 5px;
}

.table-data-view .table-name {
	padding: 5px;
}

.table-data-view .table-data tr:nth-child(even) {
/* 	background: #ededed; */
}

.table-data-filter-visible-columns {
	width: 100%;
	height: 70%;
}
	
/*----------------------------------------------------------------------------------------JOBS DROPDOWN-------*/
#info dt {
	width: 100px;
}

#info dd {
	width: 280px;
	margin-left: 90px;
}

#info .query-name {
	font-variant: small-caps;
	margin-right: 10px;
	color: gray;
}

#jobs-dropdown {
	min-width: 500px!important;
}

/*----------------------------------------------------------------------------------------DIALOG FORMS-------*/
.dialog-form input[type="text"] {
	width: 100%;
}

.notebook-edit-description {
	height: 100%;
}

.notebook-edit-description textarea {
	width: 100%;
	height: 90%;
}

/* ---------------------------------------------------------------------------------------------Progress bar -----*/
#progress-icon {
	position: fixed;
    bottom: 1em;
    right: 1em;
    display: none;
}

/* ---------------------------------------------------------------------------------------------OPTIONS PAGE-------*/
.options-page h3 {
	
}

.options-page .form-email-configuration-msg {
	margin-bottom: 5px;
}

.options-page .form-horizontal label {
	padding-top: 3px;
}

/* Create admin */
.login .form-signin input[type="password"] {
	margin-bottom: -2px;
}

.login .form-signin input[type="password"].last-pass {
	margin-bottom: 20px;
}

.options-page input[type="text"] {
	margin-left: 10px;
	margin-right: 10px;
}

.options-page .connector-plain-path {
	margin-left: 10px;
	margin-right: 10px;
	min-width: 400px;
}

/* --------------------------------------------------------------------------------------- DROPZONE -------*/
.dropzone {
	min-height: 260px;
	margin-top: 10px;
}

.dropzone .dz-default.dz-message {
	background-image: none;
}

/* --------------------------------------------------------------------------------------- NOTEBOOKS -------*/
div#notebook-entries {
    padding-top: 40px;
}

.filtering-form input.keywords {
	width: 25%;
	min-width: 300px;
}

#main .notebook-filter {
	height: 33px;
    padding-top: 1px;
}

.notebook-entry {
	display: block;
	margin: 3px;
	padding: 3px;
	min-height: 40px;
	border-radius: 3px;
}

.notebook-entry .notebook-entry-menu {
/* 	display: inline-block; */
/* 	vertical-align: top; */
	margin: 5px;
}

.notebook-entry .label {
	margin-left: 5px;
	margin-right: 5px;
}

.notebook-entry {
	border: 1px solid white;
}

.notebook-entry:HOVER {
	border: 1px dotted rgba(0, 0, 0, 0.3);
}

.notebook-entry.selected {
	border: 1px solid rgba(0, 0, 0, 0.3);
}

.notebook-entry.warn {
	border: 1px solid #e0cd2f;
}

.notebook-entry.error {
	border: 1px solid red;
}

.notebook-entry .menu {
/* 	display: inline-block; */
/* 	width: 35px; */
}

.notebook-entry .content {
/* 	display: inline-block; */
/* 	width: calc(100% - 35px); */
/* 	vertical-align: top; */
	margin-top: 10px;
}

.notebook-entry .content textarea {
	width: 100%;
	min-height: 300px;
}

.notebook-entry .content textarea:FOCUS {
	min-height: 600px;
}

.notebook-entry .btn-group {
/* 	display: none; */
}

.entries-btn-group {
/* 	margin-top: 5px; */
}

.tableEntry-panel {
/* 	min-width: 300px; */
/* 	min-height: 300px; */
/* 	border: 1px solid #9A9A9A; */
/*     border-radius: 6px; */
/* 	padding: 10px; */
/* 	margin-top: 5px; */
/* 	display: inline-block; */
/* 	width: 95%; */
}

.textEntry-panel {
/*     display: inline-block; */
/* 	width: 95%; */
}

.textEntry-panel textarea {
/* 	padding: 10px; */
/*     border-radius: 6px; */
/* 	border: 1px solid #9A9A9A; */
/*     margin-top: 5px; */
/*     width: 100%; */
}

.notebook-tabs {
	min-height: 320px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.notebook-tabs .tab-panel {
	overflow: auto;
	max-height: 320px;
}

.notebook-table-view {
	overflow: auto;
}

.notebook-table-view table {
}

.notebooktable-view .table-filter {
	min-width: 50%;
}

.notebooktable-view .tables-buttons {
	padding: 10px;
}

.notebook-entry .plot-query input[type="text"] {
	margin: 3px 10px;
	min-width: 300px;
	width: 35%;
}

.notebook-entry .plot-query input[type="checkbox"] {
	margin: 3px 10px;
/* 	min-width: 300px; */
/* 	width: 40%; */
}

.notebook-entry .plot-query .title {
/* 	margin-left: 0px; */
	min-width: 300px;
	width: 70%;
}

.notebook-entry .plot-parallel .title {
	width: 80%;
}

.notebook-entry .plot-parallel .query {
	width: 37%;
}

.notebook-entry .plot-parallel .columns {
	width: 20%;
	margin-left: 5px;
	margin-right: 5px;
}

.notebook-entry .plot-parallel .btn {
	margin: 5px;
}

.notebook-entry .plot-parallel .split {
	width: 37%;
}

.notebook-entry .plot-parallel .name {
	min-width: 150px;
	display: inline-block;
}

.notebook-entry .plot-query .name {
	min-width: 150px;
	display: inline-block;
}

/* .notebook-entry .plot-query .plot-ds-query, .notebook-entry .plot-query .plot-tb-query { */
/* 	min-width: 40%; */
/* } */

.notebook-entry-list {
	margin: 10px;
}

.notebook-entry-list.selected {
	color: green;
	font-weight: bold;
}

.notebook-menu {
/* 	position: fixed; */
    width: 100%;
/*     border: solid 1px #e1e1e1; */
    vertical-align: middle;
/*     background: #ffdab9; */
    text-align: left;
    z-index: 100;
}

.notebook-menu button, .notebook-menu a {
    color: #428bca !important;
    font-weight: bolder !important;
}

.notebook-menu input[type="text"], .notebook-menu input[type="password"]{
	padding: 6px 8px;
}

.notebooks-table [type="text"] {
	width: 80%;
}

/* --------------------------------------------------------------------------------------- DATASETS -------*/
.filtering-form button {
	margin-top: -3px;
}

.dataset-tabs {
	min-height: 320px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.dataset-tabs .tab-panel {
	overflow: auto;
/* 	max-height: 320px; */
}

.tabs-component .tab-panels {
    padding: 10px;
}

#dataset-tables .filter-tables {
	width: 50%;
	min-width: 300px;
}

#dataset-tables .tables .toolbar {
	float: left !important;
}

#dataset-tables .box header .icons {
	border-left: 1px solid #ddd;
}

.beanstable-table input[type="text"] {
	width: 40%;
}

/* --------------------------------------------------------------------------------------- UDFs table component -------*/
.udf-table input[type="text"] {
	width: 80%;
}

.udf-table .udf-row .udf-plugin {
	float: right;
}

.udf-table h4 {
    font-size: medium;
    font-weight: bold;
}

/* --------------------------------------------------------------------------------------- SEARCH bar -------*/
.input-group-btn button {
	padding: 7px 15px;
}

#top .navbar .search-bar #search-dropdown {
	top: 250%;
}

/* ---------------------------------------------------------------------------------------------  COLOR PALETTE -------*/
.color-palette-sample-text {
	padding: 5px;
	margin: 5px;
	border-radius: 6px;
	display: inline-block;
	width: 250px;
}

.palette-table {
	display: inline-block;
}

.color-palette .palette-table {
	display: inline-block;
	width: 300px;
}

.color-palette #figure-demo {
	display: inline-block;
	width: calc(100% - 300px);
	vertical-align: top;
}

#figure-demo {
/* 	width: 100%; */
/* 	display: inline-block; */
/* 	vertical-align: top; */
}

#figure-demo svg {
/* 	min-width: 600px; */
	min-height: 600px;
/* 	width: 100%; */
/* 	height: 100%; */
}

/* ---------------------------------------------------------------------------------------------  EDITABLE TABLE -------*/
.editable-table td {
	border-top: none !important;
}

.editable-table td:last-child {
	min-width: 80px;
}

.editable-table-btn-group {
	margin: 10px;
}

.editable-table-div .button-group {
	padding: 5px;
}


/*---------------------------------------------------------------------------------------------- CHOOSE COMPONENT --- */
.choose-component {
	display: inline-block;
	margin: 10px;
}

.choose-component .choose-option {
/* 	background-color: lightgray; */
	padding: 5px;
	cursor: pointer;
	border-radius: 3px;
	border-bottom: 1px solid transparent;
	border-top: 1px solid transparent;
}

.choose-component .choose-selected {
	border-bottom: 1px solid black;
	border-top: 1px solid black;
}

/*---------------------------------------------------------------------------------------------- RADIO COMPONENT --- */
.radio-component label {
	font-weight: normal;
}


/* ---------------------------------------------------------------------------------------------  DIAGNOSTICS -------*/
.diagnostics dt, .diagnostics dd {
	display: inline-block;
}

.diagnostics dt {
	margin-right: 20px;
	min-width: 150px;
}


/* ---------------------------------------------------------------------------------------------  GENERAL -------*/
.alert-default {
	background-color: #F3F3F3 !important;
	color: black;
	font-style: italic;
}

.alert strong {
	margin-right: 10px;
}

input[type="text"], input[type="password"] {
	border: #ADADAD solid 1px;
	border-radius: 3px;
	padding: 4px 8px;
}

.beans-table td {
	padding: 2px !important;
}

.table-component .table-data {
	margin-top: 10px;
}

.table-component .table-perpage {
	float: right;
}

.table-component .table-perpage a, .table-component .table-perpage span {
	margin-left: 20px;
}

.button-group input.btn {
	padding: 6px 12px;
	border-color: #adadad;
	background-color: white;
	width: 70px;
}

/* dt, dd { */
/* 	display: inline-block; */
/* } */

/* dt { */
/* 	margin-right: 10px; */
/* } */

/*---------------------------------------------------------------------------------------------- BEANS DIALOG PANEL --- */
.beans-dialog-panel input, .beans-dialog-panel textarea {
	width: 95%;
}

.beans-dialog-panel textarea {
    min-height: 200px;
}

/*---------------------------------------------------------------------------------------------- OPTIONS --- */
.option-edit {
/* 	display: block; */
	margin: 10px;
}



/*------------------------------------------------------------------------------------- MAKING METIS MORE WHITE ----*/
.main-bar {
	margin-left: 0px !important;
}

.navbar-inverse {
/* 	background-color: #72889e; */
	background-color: #eaeaea;
	border-bottom: 3px solid #428bca;
}

.main-menu {
     padding: 10px 15px;
     display: inline-block;
}

#footer {
	border-top: 1px solid #428bca;
	background-image: none;
	color: black !important;
}

/*---------------------------------------------------------------------------------------- SELECT USERS -------*/
.select-users .selected {
	font-weight: bold;
}

/*---------------------------------------------------------------------------------------- META TABLE -------*/
/* .meta-table td:first-child { */
/* 	min-width: 100px; */
/* } */
/* .meta-table td:first-child { */
/* 	min-width: 100px; */
/* } */
/* .meta-table td:second-child { */
/* 	min-width: 200px; */
/* } */

.meta-table .row-meta td:last-child {
	min-width: 60px;
}

/*---------------------------------------------------------------------------------------- PANEL -------*/
.panel.edit {
	display: block;
	width: 100%;
}

textarea.panel.edit {
	min-height: 100px;
}

/*---------------------------------------------------------------------------------------- SECOND MENU -------*/
.secondMenu {
/* 	padding: 5px; */
	padding: 0px;
	display: inline-block;
}
.secondMenu .notebook-menu {
/* 	position: inherit; */
}


/*---------------------------------------------------------------------------------------- SETTING PANEL -------*/
.setting-panel dl {
	margin-left: 20px;
}
.setting-panel p {
	margin: 10px;
}
.setting-panel label {
	font-weight: normal;
}
.setting-panel dt, .setting-panel dd {
	display: inline-block !important;
	margin-right: 30px;
    min-width: 150px;
    text-align: right;
}
.setting-panel .btn-group {
	margin: 5px;
	margin-bottom: 10px;
}
.setting-panel .title {
	font-weight: bold;
	font-size: x-large;
}

.setting-panel input[type="text"], .setting-panel input[type="password"] {
	width: 40%;
}

.settings-table .setting-row {
	border-left: 10px solid #428bca;
    margin: 20px 0px !important;
    display: grid;
}

/*-------------------------------------------------------------------------- NOTEBOOK REARRANGE PANEL -------*/

[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

.notebook-rearrange {
  list-style-type: none;
}

.notebook-entry-dragable {
  width: 95%;
  padding-bottom: 5px;
  padding-top: 5px;
  text-align: left;
  cursor: move;
}
.notebook-entry-dragable header {
  min-height: 20px;
  width: 95%;
  color: black;
  background-color: #eaeaea;
  padding: 5px;
  border-bottom: 1px solid #ddd;
  border-radius: 10px;
  border: 2px solid #428bca;
}

.notebook-entry-dragable.dragElem {
  opacity: 0.4;
}
.notebook-entry-dragable.over {
/*   //border: 2px dashed #000; */
  border-top: 2px solid blue;
}


/*-------------------------------------------------------------------------- QUICK SEARCH PANEL -------*/
.quick-search {
/* 	width: 70%; */
}


/*---------------------------------------------------------------------------------------------- NOTIFICATIONS TABLES --- */
.notifications-table td:last-child {
	min-width: 90px;
}

/*---------------------------------------------------------------------------------------------- CHECKBOX COMPONENT --- */
.checkbox-component {
	display: block;
	margin-left: 10px;
}

.checkbox-component label {
	font-weight: normal;
	margin-left: 5px;
}

/*---------------------------------------------------------------------------------------------- BACKUP PANEL --- */
.restore-panel .choose-component, .restore-panel .choose-option {
	display: block;
}

.restore-panel .filename {
	display: block;
	margin-left: 10px;
}

.restore-panel .subtitle {
	padding-top: 10px;
	display: block;
}

/*---------------------------------------------------------------------------------------------- BACKUP PANEL --- */
.backup-panel .btn-group {
/* 	margin-bottom: 20px; */
}

/*---------------------------------------------------------------------------------------------- PARALELL COORDINATES DATA VIEW --- */
/* data table styles */
#grid { 
	height: 198px;
	overflow: auto;
	padding-left: 30px; 
}

.parallel-grid-data {
	max-height: 300px;
	overflow: auto;
	padding-top: 20px;
}

.row, .header { clear: left; font-size: 12px; line-height: 18px; height: 18px; }
.row:nth-child(odd) { background: rgba(0,0,0,0.05); }
.row:HOVER {
	background-color: rgba(0,0,0,0.5);
}

.header { font-weight: bold; }
.cell { 
	float: left; 
	overflow: hidden; 
	white-space: nowrap; 
	width: 100px; 
	height: 18px;
	padding: 6px;
    font-size: x-small; 
}
.col-0 { width: 180px; }

.parallel-grid-data .row {
	margin-left: 0px !important;
	margin-right: 0px !important;
}

.parcoords .chart-title {
	font-size: 20px;
}

.parcoords text.label {
    font-size: large !important;
}

/*---------------------------------------------------------------------------------------------- HISTOGRAMS DATA VIEW --- */
.plot-histogram label {
	font-weight: normal;
}
.plot-histogram input.columns {
	width: 65%;
}
.plot-histogram .query {
	width: 28%;
}
.plot-histogram input[type="checkbox"] {
	min-width: 1px;
}
.plot-histogram label {
	width: 100px;
}

/*---------------------------------------------------------------------------------------------- CodeMirror --- */
.CodeMirror:FOCUS-WITHIN {
/* 	height: 600px; */
}

.CodeMirror {
	height: 600px;
}

/*---------------------------------------------------------------------------------------------- LOG panel --- */
.log-panel .log-filter {
	min-width: 300px;
	width: 50%;
}


/*---------------------------------------------------------------------------------------------- scrollbars --- */
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}