body {
    color: #333;
}
a {
    text-decoration: none;
    color: #1b98f8;
    cursor: pointer;
}

/* LAYOUT CSS */
#layout {
    padding-left:500px; /* "left col (nav + list)" width */
    position: relative;
}

#nav, #list {
    position: fixed;
    top: 0;
    bottom: 0;
    overflow: auto;
}
#nav {
    margin-left:-500px; /* "left col (nav + list)" width */
    width:150px;
/*     background: rgb(37, 42, 58); */	
	background: #FFF9F0;
    text-align: center;
    padding: 2em 0;
}

#list {
    margin-left: -350px;
    width:350px;
    border-right: 1px solid #ddd;
}

/* HELPER CLASSES */
.primary-button,
.secondary-button {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.primary-button {
    color: #fff;
    background: #1b98f8;
    margin: 1em 0;
}
.secondary-button {
    background: #fff;
    border: 1px solid #ddd;
    color: #666;
    padding: 0.5em 2em;
    font-size: 80%;
}



/* Vertical Navigation Styles */
#nav .pure-menu {
    background: transparent;
    border: none;
    text-align: left;
}
    #nav .pure-menu a:hover,
    #nav .pure-menu a:focus {
        background: rgb(55, 60, 90);
        color: white;
    }
    #nav .pure-menu a {
/*         color: #fff; */
		color: #5D3A06;
        margin-left: 0.5em;
    }
    #nav .pure-menu-heading {
        border-bottom: none;
        font-size:110%;
        color: rgb(75, 113, 151);
    }

    #nav .nav-menu-button {
        display: none;
    }

    .email-count {
        color: rgb(75, 113, 151);
    }

    .email-label-personal,
    .email-label-work,
    .email-label-travel {
        width: 15px;
        height: 15px;
        display: inline-block;
        margin-right: 0.5em;
        border-radius: 3px;
    }
    .email-label-personal {
        background: #ffc94c;
    }
    .email-label-work {
        background: #41ccb4;
    }
    .email-label-travel {
        background: #40c365;
    }




/* Email Item Styles */
.email-item {
    padding: 0.9em 1em;
    border-bottom: 1px solid #ddd;
    border-left: 6px solid transparent;
}
    .email-avatar {
        border-radius: 3px;
        margin-right: 0.5em;
    }
    .email-name,
    .email-subject {
        margin: 0;
    }
    .email-name {
        text-transform: uppercase;
        color: #999;
    }
    .email-desc {
        font-size: 80%;
        margin: 0.4em 0;
    }

.email-item-selected {
    background: #eee;
}
.email-item-unread {
    border-left: 6px solid #02a3c6;
}

/* Email Content Styles */
.email-content-header, .email-content-body, .email-content-footer {
    padding: 1em 2em;
}
    .email-content-header {
        border-bottom: 1px solid #ddd;
    }

        .email-content-title {
            margin: 0.5em 0 0;
        }
        .email-content-subtitle {
            font-size: 1em;
            margin: 0;
            font-weight: normal;
        }
            .email-content-subtitle span {
                color: #999;
            }
    .email-content-controls {
        margin-top: 2em;
        text-align: right;
    }
        .email-content-controls .secondary-button {
            margin-bottom: 0.3em;
        }


@media (max-width: 867px) {

    #list,
    #main {
        width: 100%;
    }
    #layout {
        padding-left: -150px;
    }
    #list {
        height: 33%;
        border-right: 0;
        border-bottom: 1px solid #ddd;
    }
    #main {
        position: fixed;
        top: 33%;
        right: 0;
        bottom: 0;
        left: 150px;
        overflow: auto;
        width: auto; /* so that it's not 100% */
    }
}

@media (max-width: 480px) {
    #layout, #nav, #list, #main {
        position: static;
        margin: 0;
        padding: 0;
    }
    #nav {
        width: 100%;
/*         height: 40px; */
/*         position: relative; */
    }
/*     #nav .nav-menu-button { */
/*         display: block; */
/*         top: 0.5em; */
/*         right: 0.5em; */
/*         position: absolute; */
/*     } */
/*     #nav.active { */
/*         height: 80%; */
/*     } */
/*     .nav-inner { */
/*         display: none; */
/*     } */
/*     #nav.active .nav-inner { */
/*         display: block; */
/*     } */
    .email-avatar {
        width: 40px;
        height: 40px;
    }
}

/*---------------------------------------------------------------------------------------------- GENERAL --- */
.logo {
	font-size: large;
	color: white;
}

.version {
	font-size: x-small;
}

.link {
	padding: 5px;
	border-radius: 3px;
}

.link:HOVER {
	background-color: #EFEFEF;
	text-decoration: none;
}

.right {
	float: right;
}

i {
	margin-right: 3px;
}

.prime-button {
	border: 1px solid green;
}


/* ---------------------------------------------------------------------------------------------  Progress bar */
#progress-icon {
	position: fixed;
    bottom: 1em;
    right: 1em;
    display: none;
}

/*---------------------------------------------------------------------------------------------- MENU --- */
.nav-inner a {
	
}

/*---------------------------------------------------------------------------------------------- LIST --- */
#list h3, #list input {
	margin-left: 10px;
}
#list h3 {
	margin-top: 20px;
}
#list .filter input{
	margin-top: 10px;
}
.list-entry {
	display: block;
	margin: 5px 5px 5px 10px;
	border-bottom: solid 1px #DDDDDD;
	padding: 15px 5px;
}

/*---------------------------------------------------------------------------------------------- QUERY PANELS --- */
.query-panel {
	display: inline-table;
/* 	width: 400px; */
/* 	height: 300px; */
}
.query-panel .header a {
	padding: 3px 15px;
	border-radius: 3px;
	text-decoration: none;
}
.query-panel .header {
	border-bottom: 1px solid #DDDDDD;
	margin-right: 30px;
	padding-bottom: 1px;
}
.query-panel .header .header-separator {
	width: 200px;
	display: inline-block;
}
.query-panel .header a.selected {
/* 	background-color: #DDDDDD; */
	border-top: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	border-bottom: 1px solid white;
	background-color: #F3F3F3;
}
.query-panel .content {
	height: 70%;
	margin: 5px;
	min-width: 600px;
	min-height: 500px;

/*     display: inline-table; */
/*     height: 100%; */
/*     margin: 5px; */
/*     min-height: 500px; */
/*     min-width: 600px; */
/*     width: 100%; */
}
.query-panel .query {
	height: 100%;
}
.query-panel .query .buttons, .query-panel .plot .buttons {
	margin: 15px;
}
.query-panel .query .buttons button i, .query-panel .plot .buttons button i {
	margin: 0px;
}
.query-panel .query textarea {
	width: 95%;
	height: 80%;
	min-height: 400px;
}
.query-form input[type=text] {
	width: 90%;
}
.query-panel .plot {
	height: 99%;
}
.query-panel .plot .figure {
	height: 90%;
	min-height: 300px;
}

/*---------------------------------------------------------------------------------------------- DATASET TABLES --- */
.dataset-content .table {
	padding: 10px;
/* 	max-height: 500px; */
	max-width: 600px;
	overflow: auto;
}

.dataset-content .table h2 {
	border-bottom: 1px solid #E8E8E8;
}

.dataset-content .table .section-name {
	font-variant: small-caps;
	font-weight: bold;
	font-size: medium;
	color: #B6B4B4;
}

.dataset-content .table dl {
	margin: 0px;
}

.dataset-content .table  #column-filter {
	margin-bottom: 5px;
}

.dataset-content .tab-panels .panel {
	max-height: 400px;
	overflow: auto;
}



.udf-table td {
	border-bottom: 1px solid;
}
